.how_we_inner {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin: 40px 0;
}
.how_we_inner h3{font-size: 21px;font-weight: 700;}
.how_we_inner p{font-size: 18px;color: #5c5c5c;padding: 14px 0;}
.how_we_inner img {
    width: auto;
}
.point_name a{    width: 50px;
    height: 50px;
    background: #FCB83F;
    color: #000000;
    border-radius: 50%;
    padding: 19px 30px;
    font-size: 27px;
    font-weight: 700;}
    .point_name{    margin-bottom: 42px;
        display: inline-block;
        vertical-align: middle;width: 100%;}
        .how_we_inner img.hoe_We_Add{width: 100%;}
        