.otp_wrap{height: auto;}

/* OTP */
.verify_code {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
 
}
.verify_code h3{
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;}
    .verify_code p{font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.19;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;padding: 10px 0 20px;}
        .verify_code p.text_center{font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.19;
            letter-spacing: normal;
            text-align: center;
            color: #ffffff;padding: 25px 0 15px;}
            .otp_outer{margin:60px 0;}
            .verify_button {
                width: 100%;
                display: inline-block;
                vertical-align: middle;
            }
            
            .login_form button {
                background: #FCB83F;
                padding: 7px;
                border-radius: 50px;
                margin: 10px 0 21px;
                width: 100%;
                border: none;
                font-size: 18px;
               
            }
            .login_wrap {
                
                height: 100%;
            }

            .login_form.otp_name{margin: 10px auto !important;}
 




    