<section class="body_warpper profile_page">
    <app-navbar></app-navbar>
    <div class="profile_wrap">
        <div class="conta_iner">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a (click)="gotohome()">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="orders">My Orders</li>
                </ol>
            </nav>
            <div class="profile_main">
                <div class="prfile_left">
                    <div class="user_profile">
                        <div class="user_profile_img">
                            <figure>
                                <img *ngIf="url" src="{{url}}" width="100px" height="100" />
                                <img *ngIf="!url" src="assets/images/user.png"></figure>
                        </div>
                        <div class="profile_camera1">
                            <h4>Hello, {{first_name}}</h4>
                        </div>
                    </div>
                    <ul class="nav nav-justified nav-tabs" id="justifiedTab" role="tablist">
                        <li class="nav-item">
                            <a aria-controls="home" aria-selected="true" class="nav-link active" data-toggle="tab"
                                href="#profile" id="profile-tab" role="tab">Profile</a>
                        </li>
                        <!-- <li class="nav-item">
    <a aria-controls="home" aria-selected="true" class="nav-link active" data-toggle="tab"
    href="#orders" id="home-tab" role="tab">Orders</a>
    </li>
    <li class="nav-item">
    <a aria-controls="profile" aria-selected="false" class="nav-link" data-toggle="tab"
    href="#Addresses" id="profile-tab" role="tab">Address</a>
    </li> -->
                        <li class="nav-item">
                            <a aria-controls="profile" aria-selected="false" class="nav-link" data-toggle="tab"
                                href="#Addresses" id="address-tab" role="tab">Manage Address</a>
                        </li>
                        <li class="nav-item">
                            <a aria-controls="contact" aria-selected="false" class="nav-link" data-toggle="tab"
                                href="#loyalty" id="loyalty-tab" role="tab">Loyalty wPoints</a>
                        </li>
                        <!-- <li class="nav-item">
    <a aria-controls="contact" aria-selected="false" class="nav-link" data-toggle="tab"
    href="#payment" id="contact-tab" role="tab">Payment</a>
    </li> -->
                        <li class="nav-item">
                            <a aria-controls="contact" aria-selected="false" class="nav-link" data-toggle="tab"
                                href="#Password" id="Password-tab" role="tab">Change Password</a>
                        </li>
                        <li class="nav-item">
                            <a aria-controls="home" aria-selected="true" class="nav-link active" data-toggle="tab"
                                href="#ticket" id="ticket-tab" role="tab">Ticket</a>
                        </li>
                        <li class="nav-item">
                            <a id="referId" aria-controls="home" aria-selected="true" class="nav-link active" data-toggle="tab"
                                href="#referfriend" id="referfriend-tab" role="tab">Refer Friends</a>
                        </li>
                        <li class="nav-item">
                            <a aria-controls="home" aria-selected="true" class="nav-link active" data-toggle="tab"
                                data-toggle="modal" data-target="#logoutModal" id="modal-tab" role="tab">Logout</a>
                        </li>
                    </ul>
                </div>
                <div class="profile_right view_user_profile">
                    <!--------view user profile is parent class only profile sec -->
                    <div class="tab-content" id="justifiedTabContent">
                        <div aria-labelledby="home-tab" class="tab-pane active" id="profile" role="tabpanel">
                            <div class="profile_content">
                                <div class="profile title_bar">
                                    <h2>Profile<span>Manage your profile details</span></h2>
                                </div>
                                <div class="grey_line"></div>
                                <form class="user_profile_tab" name="form1" (ngSubmit)="f1.valid && update(f1)"
                                    #f1="ngForm" novalidate>
                                    <div class="user_profile">
                                        <div class="user_profile_img">
                                            <figure>
                                                <img *ngIf="url" src="{{url}}" width="100px" height="100" />

                                                <img *ngIf="!url" src="assets/images/user.png">
                                            </figure>
                                        </div>
                                        <div class="profile_camera">
                                            <img src="assets/images/edit.png">
                                            <input type="file" (change)="uploadProfileImage($event)" accept="image/*"
                                                id="file-input" class="upload_file">
                                        </div>
                                    </div>
                                    <ul *ngIf="user" class="formn_group_main">
                                        <li>
                                            <label>First Name</label>
                                            <div class="form-group">
                                                <mat-form-field [floatLabel]="'never'">
                                                    <input matInput type="text" placeholder="First name"
                                                        #firstname="ngModel" pattern="^[a-zA-Z]*$"
                                                        (keydown.space)="$event.preventDefault()" maxlength="15"
                                                        [(ngModel)]="first_name" name="first_name" required>
                                                </mat-form-field>
                                            </div>
                                            <div *ngIf="f1.submitted && firstname.invalid ">
                                                <div class="alert alert-danger" *ngIf="firstname.errors.required">
                                                    First Name is required
                                                </div>
                                                <div class="alert alert-danger" *ngIf="firstname.errors?.pattern">
                                                    First Name is invalid
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <label>Last Name</label>
                                            <div class="form-group">
                                                <mat-form-field [floatLabel]="'never'">
                                                    <input matInput type="text" name="last_name" pattern="^[a-zA-Z]*$"
                                                        (keydown.space)="$event.preventDefault()"
                                                        [(ngModel)]="user.last_name" #Lastname="ngModel" maxlength="15"
                                                        placeholder="Last Name" required>
                                                </mat-form-field>
                                            </div>
                                            <div *ngIf="f1.submitted && Lastname.invalid ">
                                                <div class="alert alert-danger" *ngIf="Lastname.errors.required">
                                                    Last Name is required
                                                </div>
                                                <div class="alert alert-danger" *ngIf="Lastname.errors.pattern">
                                                    Last Name is invalid
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <label>Email</label>
                                            <div class="form-group">
                                                <mat-form-field [floatLabel]="'never'">
                                                    <input matInput type="text" [(ngModel)]="user.email" name="email"
                                                        #Email="ngModel" placeholder="Email "
                                                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
                                                </mat-form-field>
                                            </div>
                                            <div *ngIf="f1.submitted && Email.invalid ">
                                                <div class="alert alert-danger" *ngIf="Email.errors.required">
                                                    Email is required
                                                </div>
                                                <div class="alert alert-danger" *ngIf="Email.errors.pattern">
                                                    Email is invalid
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <label>Gender</label>
                                            <div class="form-group">
                                                <mat-form-field appearance="fill">
                                                    <mat-select ngModel name="gender" [(ngModel)]="selectedGender">
                                                        <mat-option value="" selected disabled>Select Gender</mat-option>
                                                        <mat-option *ngFor="let list of gender" [value]="list">
                                                            {{list}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </li>
                                        <li>
                                            <label>Nationality</label>
                                            <div class="form-group">
                                                <mat-form-field appearance="fill">
                                                    <mat-select ngModel name="nationality" [(ngModel)]="selectedNationality">
                                                        <mat-option *ngFor="let list of nationality" [value]="list.en_short_name">
                                                            {{list.en_short_name}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </li>
                                        <li *ngIf="countryCode && countryCode.length>0 && user">
                                            <label>Contact Number</label>
                                            <div class="country_code_outer">
                                                <div class="country_code_common">
                                                    <ngx-select-dropdown (change)="selectionChanged($event)"
                                                        name="country_code" [(ngModel)]="user.country_code"
                                                        [config]="config1" [options]="countryCode">
                                                    </ngx-select-dropdown>
                                                    <!-- <div class="validation_logins" *ngIf="f1.submitted && countryCode.invalid">
                                                <div *ngIf="countryCode.errors.required" class="alert alert-danger">
                                                    Enter your
                                                    Country Code </div>
                                            </div> -->



                                                    <div class="form-group">
                                                        <mat-form-field [floatLabel]="'never'">
                                                            <input matInput type="tel" placeholder="Phone number"
                                                                pattern="^[0-9]*$" minlength="5" maxlength="15"
                                                                [(ngModel)]="user.number" name="number" #Phone="ngModel"
                                                                placeholder="Phone Number" required>
                                                        </mat-form-field>
                                                    </div>

                                                </div>
                                                <div *ngIf="f1.submitted && Phone.invalid ">
                                                    <div class="alert alert-danger" *ngIf="Phone.errors.required">
                                                        Phone Number is required
                                                    </div>
                                                    <div class="alert alert-danger" *ngIf="Phone.errors?.minlength">
                                                        Phone Number should be atleast of 5 digits!
                                                    </div>
                                                    <div class="alert alert-danger" *ngIf="Phone.errors?.maxlength">
                                                        Phone Number can be only of
                                                        15 digits!
                                                    </div>
                                                    <div class="alert alert-danger" *ngIf="Phone.errors?.pattern">
                                                        Phone Number is invalid
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <button type="submit">Save</button>
                                </form>
                            </div>
                        </div>
                        <div aria-labelledby="home-tab" class="tab-pane" id="orders" role="tabpanel">
                            <div class="orderdetail_content">
                                <mat-tab-group>
                                    <mat-tab label="Ongoing" class="orders_tabs">
                                        <ul class="order_detail">
                                            <li (click)="goToorderdetail()">
                                                <div class="order_detail_content">
                                                    <div class="order_detail_left">
                                                        <h3>Order id :334555<span>product1,product2</span></h3>
                                                        <h3>$195</h3>
                                                    </div>
                                                    <div class="order_detail_right">
                                                        <h4><Span>Schedule</Span>Today : Before 6pm</h4>
                                                        <h4 class="blue_color"><span>Status</span>Out Of Delivery</h4>
                                                    </div>
                                                </div>
                                            </li>
                                            <li (click)="goToorderdetail()">
                                                <div class="order_detail_content">
                                                    <div class="order_detail_left">
                                                        <h3>Order id :334555<span>product1,product2</span></h3>
                                                        <h3>$195</h3>
                                                    </div>
                                                    <div class="order_detail_right">
                                                        <h4><Span>Schedule</Span>Today : Before 6pm</h4>
                                                        <h4 class="yellow_color"><span>Status</span>Packed</h4>
                                                    </div>
                                                </div>
                                            </li>
                                            <li (click)="goToorderdetail()">
                                                <div class="order_detail_content">
                                                    <div class="order_detail_left">
                                                        <h3>Order id :334555<span>product1,product2</span></h3>
                                                        <h3>$195</h3>
                                                    </div>
                                                    <div class="order_detail_right">
                                                        <h4><Span>Schedule</Span>Today : Before 6pm</h4>
                                                        <h4 class="green_color"><span>Status</span>Shipped</h4>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </mat-tab>
                                    <mat-tab label="Past" class="orders_tabs"> Past </mat-tab>
                                </mat-tab-group>
                            </div>
                        </div>
                        <!-- ticket start here -->
                        <!-- <div aria-labelledby="home-tab" class="tab-pane" id="ticket" role="tabpanel">
                            <div class="orderdetail_content">
                                <mat-tab-group >
                                    <mat-tab label="Active" class="orders_tabs">
                                        <div class="ticket_name">
                                            <a (click)="goToproductdetailticket()">
                                                <figure><img src="assets/images/image3.png"></figure>
                                            </a>
                                        </div>

                                    </mat-tab>
                                    <mat-tab label="Expire" class="orders_tabs">
                                        <div class="ticket_name">
                                            <a (click)="goToproductdetailticket()">
                                                <figure><img src="assets/images/image3.png"></figure>
                                            </a>
                                        </div>
                                    </mat-tab>

                                </mat-tab-group>
                            </div>
                        </div> -->

                        <!-- end here -->
                        <!-- ticket start here -->
                        <div aria-labelledby="home-tab" class="tab-pane" id="ticket" role="tabpanel">
                            <div class="orderdetail_content">
                                <mat-tab-group>
                                    <mat-tab label="Tickets" class="orders_tabs">
                                        <!-- <ul class="order_detail">
                    <li (click)="goToorderdetail()">
                    <div class="order_detail_content">
                    <div class="order_detail_left">
                    <h3>Order id :334555<span>product1,product2</span></h3>
                    <h3>$195</h3>
                    </div>
                    <div class="order_detail_right">
                    <h4><Span>Schedule</Span>Today : Before 6pm</h4>
                    <h4 class="blue_color"><span>Status</span>Out Of Delivery</h4>
                    </div>
                    </div>
                    </li>
                    <li (click)="goToorderdetail()">
                    <div class="order_detail_content">
                    <div class="order_detail_left">
                    <h3>Order id :334555<span>product1,product2</span></h3>
                    <h3>$195</h3>
                    </div>
                    <div class="order_detail_right">
                    <h4><Span>Schedule</Span>Today : Before 6pm</h4>
                    <h4 class="yellow_color"><span>Status</span>Packed</h4>
                    </div>
                    </div>
                    </li>
                    <li (click)="goToorderdetail()">
                    <div class="order_detail_content">
                    <div class="order_detail_left">
                    <h3>Order id :334555<span>product1,product2</span></h3>
                    <h3>$195</h3>
                    </div>
                    <div class="order_detail_right">
                    <h4><Span>Schedule</Span>Today : Before 6pm</h4>
                    <h4 class="green_color"><span>Status</span>Shipped</h4>
                    </div>
                    </div>
                    </li>
                    </ul> -->
                                        <div class="ticket_name" style="    width: 100%;
                    float: left;
                    margin:0;">
                                            <div *ngIf="ticketData && ticketData.length>0; else noTicket"
                                                class="conatiner" style="max-width: 100%;
                    margin: 0 ;">
                                                <div *ngFor="let item of ticketData | paginate: config"
                                                    class="ticket_bg"
                                                    style="padding: 12px 40px 25px 30px;margin: 0 10px;    border-radius: 10px; width: 45%; float:left; ">
                                                    <div class="ticket_image" style="    width: 300px;
                    display: inline-block;
                    vertical-align: middle;
                    text-align: left;
                    position: relative;">
                                                        <figure style="    width: 300px;
                    height: 242px;
                    margin: 0 auto;"><img src="assets/images/ticket.jpg" style="    width: 100%;
                    height: 100%;
                    object-fit: contain;"></figure>
                                                        <div class="ticket_outer_text" style="    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translateY(-50%) translateX(-50%);
                    width: 100%;
                    height: 100%;">
                                                            <div class="inner_class" style="    width: 100%;
                    display: inline-block;
                    vertical-align: middle;
                    padding: 17px 23px;">
                                                                <div class="ticket_logo">
                                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                                        width="80.388" height="20.348"
                                                                        viewBox="0 0 169.388 53.348">
                                                                        <g id="Group_2438" data-name="Group 2438"
                                                                            transform="translate(-80 -49)">
                                                                            <g id="Group_621" data-name="Group 621"
                                                                                transform="translate(80 49)">
                                                                                <path id="Path_1429"
                                                                                    data-name="Path 1429"
                                                                                    d="M6356.94,6576.379h10.7a2,2,0,0,1,1.646,1.247c.584,1.728.531,2.039-.012,4.342-1.318,5.588-5.642,12.443-5.642,12.443h-15.271a2.735,2.735,0,0,0-1.356,1.252,4.928,4.928,0,0,0-.192,2.227h20.087s5.747-5.641,7.487-17.4c.485-3.269-.66-5.737-2.636-7.118-3.744-2.953-14.816-1.6-14.816-1.6a4.273,4.273,0,0,0-1.193,2.371A3.7,3.7,0,0,0,6356.94,6576.379Z"
                                                                                    transform="translate(-6342.25 -6553.162)"
                                                                                    fill="#fcb83f" />
                                                                                <rect id="Rectangle_180"
                                                                                    data-name="Rectangle 180"
                                                                                    width="5.419" height="16.645"
                                                                                    rx="2.71"
                                                                                    transform="translate(5.032 18.588) rotate(-21)"
                                                                                    fill="#fcb83f" />
                                                                                <rect id="Rectangle_182"
                                                                                    data-name="Rectangle 182"
                                                                                    width="5.419" height="16.645"
                                                                                    rx="2.71"
                                                                                    transform="translate(8.129 1.942) rotate(-21)"
                                                                                    fill="#fcb83f" />
                                                                                <rect id="Rectangle_183"
                                                                                    data-name="Rectangle 183"
                                                                                    width="5.419" height="16.646"
                                                                                    rx="2.71"
                                                                                    transform="translate(24.028 17.482) rotate(-159)"
                                                                                    fill="#fcb83f" />
                                                                                <rect id="Rectangle_181"
                                                                                    data-name="Rectangle 181"
                                                                                    width="5.419" height="11.226"
                                                                                    rx="2.71"
                                                                                    transform="translate(0 23.62) rotate(-21)"
                                                                                    fill="#fcb83f" />
                                                                                <circle id="Ellipse_25"
                                                                                    data-name="Ellipse 25" cx="3.677"
                                                                                    cy="3.677" r="3.677"
                                                                                    transform="translate(1.422 45.993)" />
                                                                                <circle id="Ellipse_26"
                                                                                    data-name="Ellipse 26" cx="3.677"
                                                                                    cy="3.677" r="3.677"
                                                                                    transform="translate(22.712 45.993)" />
                                                                            </g>
                                                                            <text _ngcontent-mpr-c2=""
                                                                                font-family="Montserrat-ExtraBoldItalic, Montserrat"
                                                                                font-size="26" font-style="italic"
                                                                                font-weight="800" id="Windealz"
                                                                                transform="translate(115.388 88.263)">
                                                                                <tspan _ngcontent-mpr-c2="" x="0" y="0">
                                                                                    Windealz</tspan>
                                                                            </text>
                                                                        </g>
                                                                    </svg>
                                                                </div>
                                                                <div class="ticket_detail flex"
                                                                    style="display: flex;justify-content: space-between;align-items: flex-start;    border-radius: 10px;">
                                                                    <div style="width: 64%;">
                                                                        <h4
                                                                            style="font-size: 11px;color: #000;font-weight: bold; font-family:'Montserrat', sans-serif;margin: 5px 0 5px 0;">
                                                                            Product and Prize Details</h4>
                                                                        <p style="line-height: 15px;font-size: 10px;
                    margin: 5px 0;color: #000;font-family:'Montserrat', sans-serif;">
                                                                            {{item.campaign.product.description}}</p>
                                                                        <h5 style="color: #000;    font-size: 13px;
                                 margin-top: 10px;
                                 margin-bottom: 0px;font-family:'Montserrat', sans-serif;"><span>Order
                                                                                ID:</span>{{item.unique_order_id}}</h5>
                                                                    </div>
                                                                    <div style="width: 33%;">
                                                                        <figure class="Watch" style="width: 80px;
                    height: 80px;
                    overflow: hidden;
                    margin: 0!important;
                    margin-inline-end: 0;"><img [src]="item.campaign.prize.image" style="width: 100%;
                    height: 100%;
                    object-fit: contain;"></figure>
                                                                    </div>
                                                                </div>
                                                                <ul class="draw_number"
                                                                    style="display: flex;justify-content: space-between;align-items: flex-start;flex-wrap: wrap;padding: 0;    margin: 0;">
                                                                    <li
                                                                        style="width: 50%;margin: 3px 0 0;list-style: none;">
                                                                        <h5
                                                                            style="color: #A3A3A3;font-size: 10px;font-weight: normal;font-family:'Montserrat', sans-serif;margin: 0">
                                                                            Draw Number</h5>
                                                                        <h6
                                                                            style="    color: #000;font-size: 10px;font-family: 'Montserrat', sans-serif;margin:5px 0;">
                                                                            {{item.draw_number}}</h6>
                                                                    </li>
                                                                    <li
                                                                        style="width: 50%;margin: 3px 0 0;list-style: none;    text-align: right;">
                                                                        <h5
                                                                            style="color: #A3A3A3;font-size: 10px;font-weight: normal;font-family:'Montserrat', sans-serif;margin: 0">
                                                                            Ticket number</h5>
                                                                        <h6
                                                                            style="    color: #000;font-size: 10px;font-family: 'Montserrat', sans-serif;margin: 5px 0;">
                                                                            {{item.ticket_number}}</h6>
                                                                    </li>
                                                                    <li
                                                                        style="width: 50%;margin: 3px 0 0;list-style: none;">
                                                                        <h5
                                                                            style="color: #A3A3A3;font-size: 10px;font-weight: normal;font-family:'Montserrat', sans-serif;margin: 0">
                                                                            Expiry</h5>
                                                                        <h6
                                                                            style="color: #000;font-size: 10px;font-family: 'Montserrat', sans-serif;margin: 5px 0 0;">
                                                                            {{item.expiry_date}}</h6>
                                                                    </li>
                                                                    <li
                                                                        style="width: 50%;margin: 3px 0 0;list-style: none;    text-align: right;">
                                                                        <h5
                                                                            style="color: #A3A3A3;font-size: 10px;font-weight: normal;font-family:'Montserrat', sans-serif;margin: 0">
                                                                            Purchased by</h5>
                                                                        <h6
                                                                            style="color: #000;font-size: 10px;font-family: 'Montserrat', sans-serif;margin: 5px 0 0;">
                                                                            {{item.user_name}}</h6>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div *ngIf="onload && ticketData && ticketData.length>0;"
                                                    class="pagination_ui">
                                                    <pagination-controls (pageChange)="pageChange($event)" id="page"
                                                        class="my-pagination">
                                                    </pagination-controls>
                                                </div>
                                                <ng-template #noTicket>
                                                    <h4>No Ticket Found</h4>
                                                </ng-template>
                                            </div>
                                        </div>

                                    </mat-tab>


                                </mat-tab-group>
                            </div>
                        </div>

                        <!-- end here -->

                        <!-- refer friend start here -->
                        <div aria-labelledby="home-tab" class="tab-pane" id="referfriend" role="tabpanel">
                            <div class="profile_content">
                                <div class="refer_a_friend">
                                    <figure><img src="assets/images/refer_friend.png"></figure>
                                    <h3>Share your Referral Code:<strong> {{referral_code}} </strong> </h3>
                                    <p>Be nice, invite others</p>
                                    <p>For every friend, relative, colleague or neighbor, you'll get 250 wPoints</p>
                                </div>
                            </div>
                        </div>

                        <!-- end here -->

                        <div aria-labelledby="profile-tab" class="tab-pane" id="Addresses" role="tabpanel">
                            <div class="profile_content">
                                <div class="profile title_bar">
                                    <h2>Address<span>Manage your profile details</span></h2>
                                </div>
                                <div class="grey_line payment_grey_line"></div>
                                <!-- <div class="addres_main">
    <div class="address_left">
    <ul>
    <li>
    <div class="adre_main">
    <div class="one_address_bx adres_top">
    this one_address_bx full div copied to cart page so plz you edit this section and change the css plz check this page or cart page address section
    <p><span>Shewrapara</span>,<span>Mirpur</span>,<span>Dhaka</span>-<span>1216</span>
    </p>
    <p>House no:<span class="house_no_cart">938</span></p>
    <p>Road no:<span class="road_no_cart">9</span></p>
    </div>
    
    <div class="adres_bottom">
    <a class="span_red">Remove</a>
    <a>Edit</a>
    </div>
    </div>
    </li>
    
    </ul>
    </div>
    <div class="address_right">
    <form>
    <ul class="formn_group_main">
    <li>
    <label>First Name</label>
    <div class="form-group">
    <mat-form-field [floatLabel]="'never'">
    <input matInput type="text" placeholder="Amit Sharma"
    name="name" disabled>
    </mat-form-field>
    </div>
    </li>
    <li>
    <label>Apartment</label>
    <div class="form-group">
    <mat-form-field [floatLabel]="'never'">
    <input matInput type="text" placeholder="Last name"
    name="name" disabled>
    </mat-form-field>
    </div>
    </li>
    <li>
    <label>Building name</label>
    <div class="form-group">
    <mat-form-field [floatLabel]="'never'">
    <input matInput type="email" placeholder="Email id"
    name="name" disabled>
    </mat-form-field>
    </div>
    </li>
    <li>
    <label>City</label>
    <div class="form-group">
    <mat-form-field [floatLabel]="'never'">
    <input matInput type="number" placeholder="Phone number"
    name="name" disabled>
    </mat-form-field>
    </div>
    </li>
    <li>
    <label>Postal Code</label>
    <div class="form-group">
    <mat-form-field [floatLabel]="'never'">
    <input matInput type="number" placeholder="Phone number"
    name="name" disabled>
    </mat-form-field>
    </div>
    </li>
    <li>
    <label>Phone Number</label>
    <div class="form-group">
    <mat-form-field [floatLabel]="'never'">
    <input matInput type="number" placeholder="Phone number"
    name="name" disabled>
    </mat-form-field>
    </div>
    </li>
    </ul>
    <button disabled>Add New</button>
    </form>
    </div>
    </div> -->
                                <div class="addres_main two">
                                    <div class="address_left">
                                        <figure><img src="assets/images/address_img.png"></figure>
                                    </div>
                                    <div class="address_right">
                                        <form name="form11" (ngSubmit)="f11.valid && updateAddress(f11)" #f11="ngForm"
                                            novalidate>
                                            <ul class="formn_group_main">
                                                <li>
                                                    <label>Name</label>
                                                    <div class="form-group">
                                                        <mat-form-field [floatLabel]="'never'">
                                                            <input matInput type="text" #firstname="ngModel"
                                                                [(ngModel)]="order_name" name="order_name"
                                                                maxlength="20" placeholder="Enter Name" required>
                                                        </mat-form-field>
                                                    </div>
                                                    <div *ngIf="f11.submitted && firstname.invalid ">
                                                        <div class="alert alert-danger"
                                                            *ngIf="firstname.errors.required">
                                                            Name is required
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <label>Apartment</label>
                                                    <div class="form-group">
                                                        <mat-form-field [floatLabel]="'never'">
                                                            <input matInput type="text" [(ngModel)]="apartment"
                                                                name="apartment" maxlength="25" #Lastname="ngModel"
                                                                placeholder="Apartment" required>
                                                        </mat-form-field>
                                                    </div>
                                                    <div *ngIf="f11.submitted && Lastname.invalid ">
                                                        <div class="alert alert-danger"
                                                            *ngIf="Lastname.errors.required">
                                                            Apartment is required
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <label>Building Name</label>
                                                    <div class="form-group">
                                                        <mat-form-field [floatLabel]="'never'">
                                                            <input matInput type="text" [(ngModel)]="building_name"
                                                                maxlength="25" #buildingname="ngModel" required
                                                                placeholder="Building Name" name="building_name"
                                                                required>
                                                        </mat-form-field>
                                                    </div>
                                                    <div *ngIf="f11.submitted && buildingname.invalid ">
                                                        <div class="alert alert-danger"
                                                            *ngIf="buildingname.errors.required">
                                                            Building Name is required
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <label>City</label>
                                                    <div class="form-group">
                                                        <mat-form-field [floatLabel]="'never'">
                                                            <input matInput type="text" [(ngModel)]="city" name="city"
                                                                maxlength="15" #cityname="ngModel" required
                                                                placeholder="Enter City" required>
                                                        </mat-form-field>
                                                    </div>
                                                    <div *ngIf="f11.submitted">
                                                        <div class="alert alert-danger"
                                                            *ngIf="cityname.errors?.required">
                                                            City is required
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <label>Country</label>
                                                    <div class="form-group">
                                                        <mat-form-field [floatLabel]="'never'">
                                                            <input matInput type="text" [(ngModel)]="country" name="country"
                                                                maxlength="15" #countryname="ngModel" required
                                                                placeholder="Enter Country" required>
                                                        </mat-form-field>
                                                    </div>
                                                    <div *ngIf="f11.submitted">
                                                        <div class="alert alert-danger"
                                                            *ngIf="countryname.errors?.required">
                                                            Country is required
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <label>Postal Code</label>
                                                    <div class="form-group">
                                                        <mat-form-field [floatLabel]="'never'">
                                                            <input matInput type="text" pattern="^[0-9]*$" minlength="3"
                                                                maxlength="7" [(ngModel)]="postal_code"
                                                                name="postal_code" #Postal="ngModel"
                                                                placeholder="Postal Code" appNumberOnly required>

                                                        </mat-form-field>
                                                    </div>
                                                    <div *ngIf="f11.submitted">
                                                        <div class="alert alert-danger" *ngIf="Postal.errors?.required">
                                                            Postal Code is required
                                                        </div>
                                                    </div>
                                                </li>
                                                <li *ngIf="countryCode && countryCode.length>0">
                                                    <label>Contact Number</label>
                                                    <div class="country_code_outer">
                                                        <div class="country_code_common">
                                                            <ngx-select-dropdown (change)="selectionChangedAddress($event)"
                                                                name="country_code" [(ngModel)]="country_code_address"
                                                                [config]="config1" [options]="countryCode">
                                                            </ngx-select-dropdown>
                                                            <div class="form-group">
                                                                <mat-form-field [floatLabel]="'never'">
                                                                    <input matInput type="tel" pattern="^[0-9]*$" minlength="5"
                                                                        maxlength="15" [(ngModel)]="order_number"
                                                                        name="order_number" #Phone="ngModel"
                                                                        placeholder="Phone Number" required>
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                        <div *ngIf="f11.submitted && Phone.invalid">
                                                            <div class="alert alert-danger" *ngIf="Phone.errors.required">
                                                                Phone Number is required
                                                            </div>
                                                            <div class="alert alert-danger" *ngIf="Phone.errors?.minlength">
                                                                Phone Number should be atleast of 5 digits!
                                                            </div>
                                                            <div class="alert alert-danger" *ngIf="Phone.errors?.maxlength">
                                                                Phone Number can be only of
                                                                15 digits!
                                                            </div>
                                                            <div class="alert alert-danger" *ngIf="Phone.errors?.pattern">
                                                                Phone Number is invalid
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                            <button type="submit">Add Address</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div aria-labelledby="contact-tab" class="tab-pane" id="loyalty" role="tabpanel">
                            <div *ngIf="loyalty" class="payment_content">
                                <div class="profile title_bar">
                                    <h2>Loyalty wPoints</h2>
                                </div>
                                <div class="grey_line payment_grey_line"></div>
                                <div class="localty_sec">
                                    <div class="localty_img">
                                        <figure>
                                            <img src="assets/images/surface1.png" alt="">
                                        </figure>
                                    </div>
                                    <div class="localty_coins">
                                        <h3 class="localty_coins_text">
                                            Loyalty wPoints<span>{{loyalty.total_earned}}</span>

                                        </h3>
                                        <p>Available loyalty wPoints worth of ${{loyalty.points_worth}}</p>
                                        <button (click)="redeemPoints()">Redeem</button>
                                    </div>
                                    <div class="redeem_wallet">
                                        <figure><img src="assets/images/home/wallet.png"></figure>
                                        <p>${{loyalty.wallet_balance}}</p>
                                    </div>
                                </div>
                                <div class="localty_sec loyality_arrow">
                                    <div class="arrow_line_loyality">
                                        <div class="loyality_left">
                                            <h4>Earn through purchases</h4>
                                        </div>
                                        <div class="loyality_right">
                                            <h5>{{loyalty.earned_through_purchases}}</h5>

                                        </div>

                                    </div>
                                    <div class="arrow_line_loyality">
                                        <div class="loyality_left">
                                            <h4>Earned through referrals</h4>
                                        </div>
                                        <div class="loyality_right">
                                            <h5>{{loyalty.earned_through_referrals}}</h5>

                                        </div>

                                    </div>
                                    <div class="arrow_line_loyality">
                                        <div class="loyality_left">
                                            <h4>Total Earned</h4>
                                        </div>
                                        <div class="loyality_right">
                                            <h5>{{loyalty.total_earned}}</h5>

                                        </div>

                                    </div>
                                    <div class="arrow_line_loyality">
                                        <div class="loyality_left">
                                            <h4>Total Spent</h4>
                                        </div>
                                        <div *ngIf="loyalty" class="loyality_right">
                                            <h5>{{loyalty.total_spent}}</h5>

                                        </div>

                                    </div>
                                    <div class="arrow_line_loyality">
                                        <div class="loyality_left">
                                            <h4>Available wpoints</h4>
                                        </div>
                                        <div *ngIf="loyalty" class="loyality_right">
                                            <h5>{{loyalty.total_earned}}</h5>

                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div aria-labelledby="contact-tab" class="tab-pane" id="payment" role="tabpanel">
                            <div class="payment_content">
                                <div class="profile title_bar">
                                    <h2>Payment<span>Manage your profile details</span></h2>
                                </div>
                                <div class="grey_line payment_grey_line"></div>
                                <form>
                                    <div class="addres_main">
                                        <div class="address_left payment_screen">
                                            <!----paymnet_screen class is parent class in all paymnet cardit card ul li -->
                                            <!---and note the debit card boxes is copyied to other page so you change css in this card debit card boxes so plz check another page payinfo page layouts-->
                                            <ul>
                                                <li>
                                                    <div class="windeal_wallet_bx">
                                                        <div class="credit_card_screen paynow_left">
                                                            <div class="card_user_info">
                                                                <h3 class="cardholder_name">Rohit</h3>
                                                                <p>MM/YY <span>11/12</span></p>
                                                                <h4>***********************</h4>
                                                            </div>
                                                            <div class="credit_card_cvv">
                                                                <figure>
                                                                    <img src="assets/images/home/mastercard.png" alt="">
                                                                </figure>
                                                                <h5 class="cvv_number">1234</h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="add_card_btn wallet_border">
                                                        <p><span>
                                                                <figure><img src="assets/images/home/add-copy-3.png"
                                                                        alt=""></figure>
                                                            </span>Add Credit card</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="add_card_btn wallet_border">
                                                        <p><span>
                                                                <figure><img src="assets/images/home/add-copy-3.png"
                                                                        alt=""></figure>
                                                            </span>Add Debit card</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="add_card_btn wallet_border">
                                                        <p><span>
                                                                <figure><img src="assets/images/home/add-copy-3.png"
                                                                        alt=""></figure>
                                                            </span>Net Banking</p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="address_right">
                                            <form>
                                                <h4>Add New card</h4>
                                                <ul class="formn_group_main">
                                                    <li>
                                                        <label>Card Name</label>
                                                        <div class="form-group">
                                                            <mat-form-field [floatLabel]="'never'">
                                                                <input matInput type="text" name="name">
                                                            </mat-form-field>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <label>Card Holder Name</label>
                                                        <div class="form-group">
                                                            <mat-form-field [floatLabel]="'never'">
                                                                <input matInput type="text" name="name">
                                                            </mat-form-field>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="payment_sec_main">
                                                            <div class="payment_expirydate_sec">
                                                                <label>Expiry Date</label>
                                                                <div class="form-group">
                                                                    <mat-form-field [floatLabel]="'never'">
                                                                        <input matInput type="email" name="name">
                                                                    </mat-form-field>
                                                                </div>
                                                            </div>
                                                            <!----start payment cvv number -->
                                                            <div class="payment_cvv_sec">
                                                                <label>CCV</label>
                                                                <div class="form-group">
                                                                    <mat-form-field [floatLabel]="'never'">
                                                                        <input matInput type="number" name="name">
                                                                    </mat-form-field>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </li>
                                                </ul>
                                                <button>Add New</button>
                                            </form>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                        <div aria-labelledby="home-tab" class="tab-pane" id="Password" role="tabpanel">
                            <div class="profile_content">
                                <div class="profile title_bar">
                                    <h2>Change Password <span>Manage your profile details</span></h2>
                                </div>
                                <div class="grey_line"></div>
                                <form class="user_profile_tab" name="form" (ngSubmit)="f.valid && onPasswordSubmit(f)"
                                    #f="ngForm" novalidate>
                                    <ul class="formn_group_main change_password_sec">
                                        <li>
                                            <label>Current password</label>
                                            <div class="form-group">
                                                <mat-form-field [floatLabel]="'never'">
                                                    <input matInput type="password" placeholder="Current password"
                                                        [(ngModel)]="current_password" required name="current_password"
                                                        placeholder=" Current Password" #password="ngModel">
                                                </mat-form-field>
                                            </div>
                                            <div *ngIf=" f.submitted && password.invalid " class="alert alert-danger">
                                                Enter your Old Password

                                                <!-- <div *ngIf="password.errors.required " class="alert alert-danger"> Enter Password </div> -->
                                            </div>
                                        </li>
                                        <li>
                                            <label> New Password</label>
                                            <div class="form-group">
                                                <mat-form-field [floatLabel]="'never'">
                                                    <input matInput type="password" placeholder="New Password"
                                                        [(ngModel)]="new_password" minlength="8" required
                                                        name="new_password" placeholder=" New Password"
                                                        #newPassword="ngModel">
                                                </mat-form-field>
                                            </div>
                                            <div *ngIf=" f.submitted && newPassword.invalid ">
                                                <div *ngIf="newPassword.errors?.required" class="alert alert-danger">
                                                    Enter your New Password</div>
                                                <div *ngIf="newPassword.errors?.minlength" class="alert alert-danger">
                                                    Password should be of atleast 8 characters!</div>
                                            </div>
                                        </li>
                                        <li>
                                            <label>Confirm New Password</label>
                                            <div class="form-group">
                                                <mat-form-field [floatLabel]="'never'">
                                                    <input matInput type="password" placeholder="Confirm New Password"
                                                        (input)="confirmError=false;" [(ngModel)]="confirm_password"
                                                        required name="confirm_password" #cpassword="ngModel">
                                                </mat-form-field>
                                            </div>
                                            <div *ngIf=" f.submitted && cpassword.invalid " class="alert alert-danger">
                                                Confirm Password
                                            </div>
                                            <div *ngIf="confirmError">
                                                <div class="alert alert-danger">
                                                    Password and Confirm password didn't matched
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <button type="submit">Save</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!----start footer sec-->
    <app-footer></app-footer>

</section>
<div class="modal header_logout" id="logoutModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal body -->
            <div class="modal-body">
                <div class="like_modale">
                    <div class="modale_inner">
                        <svg xmlns="http://www.w3.org/2000/svg" width="169.388" height="53.348"
                            viewBox="0 0 169.388 53.348">
                            <g id="Group_2438" data-name="Group 2438" transform="translate(-80 -49)">
                                <g id="Group_621" data-name="Group 621" transform="translate(80 49)">
                                    <path id="Path_1429" data-name="Path 1429"
                                        d="M6356.94,6576.379h10.7a2,2,0,0,1,1.646,1.247c.584,1.728.531,2.039-.012,4.342-1.318,5.588-5.642,12.443-5.642,12.443h-15.271a2.735,2.735,0,0,0-1.356,1.252,4.928,4.928,0,0,0-.192,2.227h20.087s5.747-5.641,7.487-17.4c.485-3.269-.66-5.737-2.636-7.118-3.744-2.953-14.816-1.6-14.816-1.6a4.273,4.273,0,0,0-1.193,2.371A3.7,3.7,0,0,0,6356.94,6576.379Z"
                                        transform="translate(-6342.25 -6553.162)" fill="#fcb83f" />
                                    <rect id="Rectangle_180" data-name="Rectangle 180" width="5.419" height="16.645"
                                        rx="2.71" transform="translate(5.032 18.588) rotate(-21)" fill="#fcb83f" />
                                    <rect id="Rectangle_182" data-name="Rectangle 182" width="5.419" height="16.645"
                                        rx="2.71" transform="translate(8.129 1.942) rotate(-21)" fill="#fcb83f" />
                                    <rect id="Rectangle_183" data-name="Rectangle 183" width="5.419" height="16.646"
                                        rx="2.71" transform="translate(24.028 17.482) rotate(-159)" fill="#fcb83f" />
                                    <rect id="Rectangle_181" data-name="Rectangle 181" width="5.419" height="11.226"
                                        rx="2.71" transform="translate(0 23.62) rotate(-21)" fill="#fcb83f" />
                                    <circle id="Ellipse_25" data-name="Ellipse 25" cx="3.677" cy="3.677" r="3.677"
                                        transform="translate(1.422 45.993)" />
                                    <circle id="Ellipse_26" data-name="Ellipse 26" cx="3.677" cy="3.677" r="3.677"
                                        transform="translate(22.712 45.993)" />
                                </g>
                                <text id="Windealz" transform="translate(115.388 88.263)" font-size="26"
                                    font-family="Montserrat-ExtraBoldItalic, Montserrat" font-weight="800"
                                    font-style="italic">
                                    <tspan x="0" y="0">Windealz</tspan>
                                </text>
                            </g>
                        </svg>
                        <p>Are you sure you want to logout?</p>
                    </div>
                    <div class="modale_btn">
                        <button mat-raised-button class="yes_button" data-dismiss="modal" (click)="goTologout()">
                            Log Out
                        </button>
                        <button mat-raised-button class="no_button" data-dismiss="modal">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <!-- <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="goTologout()" >Logout</button> -->
            <!-- <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button> -->
            <!-- </div> -->

        </div>
    </div>
</div>