/****payment sec *****/
.localty_sec {
    padding: 2rem 0 0;
    }
    h3.localty_coins_text {
        font-size: 20px;text-align: center;
    }
    h3.localty_coins_text span{display: block;
        font-size: 34px;
        font-weight: 600;
        margin-top: 10px;    }
        .localty_coins p {
            text-align: center;
            margin-top: 11px;
            margin-bottom: 19px;
            color: #5c5c5c;
        }
        .localty_coins button {
            display: block;
            /* display: flex; */
            /* justify-content: center; */
            width: fit-content;
            margin: 0px auto;
        }
        .localty_img {
            margin: 0px auto !important;
            width: 100%;
            text-align: center;
            padding-bottom: 2rem;
        }
        .localty_img img {
            width: 14%;}
           
            .arrow_line_loyality {
                width: 100%;
                max-width: 500px;
                margin: 0 auto;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-bottom: 15px;
                
              
            }
            .arrow_line_loyality h4{font-size: 15px;font-weight:600;color: #707070;}
            .arrow_line_loyality h5{font-size: 15px;font-weight:600;color: #707070;}
            .loyality_arrow{  padding: 25px;
                border: 1px solid #EBEBEB;
                border-radius: 5px;width: 100%;max-width: 500px;margin: 0 auto;margin-bottom: 30px;}
                .arrow_line_loyality:last-of-type{padding: 0;}
    
                .arrow_line_loyality:nth-child(3) h4{color: #26AD06;}
                .arrow_line_loyality:nth-child(3) h5{color: #26AD06;}
    
                .arrow_line_loyality:nth-child(4) h4{color: #d00;}
                .arrow_line_loyality:nth-child(4) h5{color: #d00;}
    
                .refer_a_friend {
                    width: 100%;
                    display: inline-block;
                    vertical-align: middle;
                    padding: 70px;
                    text-align: center;
                }
                .refer_a_friend h3{font-size: 22px;padding: 30px 0 10px;color: #000000;}
                .refer_a_friend p {
                    font-size: 15px;
                }
    
                .redeem_wallet {
                    padding: 15px;
                    border: 1px solid #EBEBEB;
                    border-radius: 5px;
                    width: 100%;
                    max-width: 500px;
                    margin: 0 auto;
                   margin:10px auto;
                    display: flex;
                    align-items: center;
                    justify-content: start;
                }
                .redeem_wallet p {
                    padding-left: 20px;
                    font-weight: 600;
                    font-size: 19px;
                }
                .alert.alert-danger.ng-star-inserted {
                    text-align: left;
                    color: #d00;
                    background: none;
                    border: navajowhite;
                    padding: 0;
                    position: relative;
                    top: -10px;
                    margin: 0;
                }
                .user_profile_img img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    -webkit-transform: translateY(-50%) translateX(-50%);
                    transform: translateY(-50%) translateX(-50%);
                    width: 100%;
                    height: 100%;
                    object-fit: cover !important;
                }
                .header_logout h3 {
                    font-size: 26px;
                    font-weight: bold;
                    margin: 20px 0;
                }
                .header_logout .modal-header {
                    background-color: #fff;    background-color: #fff;
                    border-bottom: none;
                    padding: 0;}
                
                
                    .header_logout .modale_inner figure {
                        height: 70px;
                        width: 180px;margin: auto;
                    
                    }
                    .header_logout .modale_inner figure img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                    .header_logout .like_modale {
                        text-align: center;
                    }
                    .header_logout  .modal-body {
                        padding: 30px 50px !important;
                             }
                
                    .header_logout  .mat-raised-button:not([class*=mat-elevation-z]) {
                        box-shadow: none;
                        background: #FCB83F;
                        color: #fff;
                        padding: 8px 30px;
                        min-width: 0;
                        line-height: normal;
                        font-size: 15px;
                        margin-left: 10px;cursor: pointer;
                    }
                    .header_logout button.no_button.mat-raised-button.mat-button-base{background: rgb(150, 147, 147);}
                
                    .header_logout  .modal-body  p {
                        font-size: 18px;
                        color: #000;
                        margin: 17px 0 30px;                        
                    }
                    .header_logout .modal-dialog {
                        width: 600px;
                        margin: 0px auto;
                        height: 100vh;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                span.header_location i {
                margin-right: 5px;
                font-size: 18px;
                }
                
                /******march-12-2020***********/
                .left_top_inner_inner.right h5 {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                }
                .left_top_inner_inner.right span{    display: flex;
                    justify-content: space-between;
                    align-items: center;}
                
                    button.navbar-toggler {
                        display: none;
                    }
                    .navbar{margin: 20px 0;}
                    .dayfresh_flex {
                        width: 88%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }
                    .country_code_common .form-group {
                        border: none !important;
                        width: 85%;
                    }
                    ngx-select-dropdown.ng-valid.ng-touched.ng-dirty {
                        text-align: left;
                        width: 15%;
                    }
                    .country_code_common {
                        border: 1px solid #ccc;
                        border-radius: 0;
                    }
                    .country_code_outer .alert {
                        margin-top: 15px !important;
                        width: 100%;
                        display: inline-block;
                        vertical-align: middle;
                    }
                    .pagination_ui {
                        width: 100%;
                        display: inline-block;
                        vertical-align: middle;
                        text-align: right;
                        margin-bottom: 15px;
                        padding-right: 25px;
                    }