span.country_image {
    width: 5%;
    padding: 0px 14px;
    position: relative;
    top: -1px;
}
.country_code {
    display: flex;
    align-items: center;
    justify-content: center;
}
.country_image img{width: auto;}
.country_feild{width: 100%;}


/********9-6-2020***************/
.alert.alert-danger.ng-star-inserted {
    padding: 0px;
    background: transparent;
    border: none;
    margin: 0px;
    }
    // .login_form mat-form-field {
    // border: 1px solid #ccc;
    // border-radius: 10px;
    // margin-bottom: 10px;
    // }
    .form-group {
    border:none;
    overflow: hidden;
    border-radius: 0px;
    margin-bottom: 15px;
    }
    .login_form .mat-form-field-appearance-fill .mat-form-field-flex {
    background: transparent;
    }
    input.mat-input-element {
    margin-top: 0px;
    }
    .formn_group_main input.mat-input-element{border-radius: 10px;
        border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 10px;
    }
    button.login_eye_btn.mat-icon-button.mat-button-base{top:7px;}
    .user_profile_img img {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translateY(-50%) translateX(-50%);
        transform: translateY(-50%) translateX(-50%);
        width: 100%;
        height: 100%;
        object-fit: cover !important;
    }
    
    .login_wrap {
        height: auto;
        background: #FCB83F;
        color: #000;
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        /* max-height: 200vh; */
        padding-bottom: 23px;
    }
    .country_code_common .ngx-dropdown-container.ngx-dropdown-button {
        width: 100%;
      
        background-color: white;
        padding: 0 !important;
        border: none;
        margin: 0 !important;
    }