<div class="login_wrap signup">
    <div class="conta_iner">
        <div class="login_main">
            <div class="login_logo_img">
                <svg xmlns="http://www.w3.org/2000/svg" width="292.576" height="92.828" viewBox="0 0 292.576 92.828">
                    <g id="Group_2401" data-name="Group 2401" transform="translate(-80 -49)">
                        <g id="Group_621" data-name="Group 621" transform="translate(80 49)">
                            <path id="Path_1429" data-name="Path 1429"
                                d="M6364.468,6580.016h18.625a3.486,3.486,0,0,1,2.865,2.169c1.018,3.007.924,3.549-.021,7.556-2.294,9.725-9.817,21.651-9.817,21.651h-26.57a4.755,4.755,0,0,0-2.359,2.18,8.571,8.571,0,0,0-.334,3.875h34.951s10-9.816,13.027-30.275c.844-5.687-1.147-9.981-4.586-12.385-6.515-5.138-25.78-2.784-25.78-2.784s-2.076,2.124-2.076,4.126S6364.468,6580.016,6364.468,6580.016Z"
                                transform="translate(-6338.906 -6539.617)" fill="#fff" />
                            <rect id="Rectangle_180" data-name="Rectangle 180" width="9.43" height="28.964" rx="4.715"
                                transform="translate(8.756 32.343) rotate(-21)" fill="#fff" />
                            <rect id="Rectangle_182" data-name="Rectangle 182" width="9.43" height="28.964" rx="4.715"
                                transform="translate(14.145 3.38) rotate(-21)" fill="#fff" />
                            <rect id="Rectangle_183" data-name="Rectangle 183" width="9.43" height="28.964" rx="4.715"
                                transform="translate(41.809 30.419) rotate(-159)" fill="#fff" />
                            <rect id="Rectangle_181" data-name="Rectangle 181" width="9.43" height="19.534" rx="4.715"
                                transform="translate(0 41.099) rotate(-21)" fill="#fff" />
                            <circle id="Ellipse_25" data-name="Ellipse 25" cx="6.399" cy="6.399" r="6.399"
                                transform="translate(2.474 80.03)" />
                            <circle id="Ellipse_26" data-name="Ellipse 26" cx="6.399" cy="6.399" r="6.399"
                                transform="translate(39.52 80.03)" />
                        </g>
                        <text id="Windealz" transform="translate(141.576 117.817)" font-size="45"
                            font-family="Montserrat-ExtraBoldItalic, Montserrat" font-weight="800" font-style="italic">
                            <tspan x="0" y="0">Windealz</tspan>
                        </text>
                    </g>
                </svg>

            </div>
            <div class="login_form">
                <h4>Create a Windealz account</h4>
                <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && !(confirmError) && onSubmit(f)">
                    <div class="user_profile">
                        <div class="user_profile_img">
                            <figure>
                                <img *ngIf="!url" src="assets/images/user.png">
                                <img *ngIf="url" src="{{url}}" />

                            </figure>
                        </div>
                        <div class="profile_camera">
                            <img src="assets/images/edit.png">
                            <input type="file" id="file-input" (change)="uploadProfileImage($event)" accept="image/*" required class="upload_file">
                        </div>
                    </div>
                    <div class="formn_group_main">
                        <div class="half">
                            <div class="form-group">
                                <mat-form-field [floatLabel]="'never'">
                                    <input type="text" class="form-control" matInput id="usr" pattern="^[a-zA-Z]*$"
                                        (keydown.space)="$event.preventDefault()" [(ngModel)]="first_name" value=""
                                        name="first_name" #firstname="ngModel" placeholder="First Name" maxlength="15" required>

                                    <div class="validation_logins" *ngIf="f.submitted && firstname.invalid">
                                        <div *ngIf="firstname.errors.required " class="alert alert-danger"> Enter First
                                            Name
                                        </div>
                                        <div *ngIf="firstname.errors?.pattern" class="alert alert-danger  p-0 small">
                                            First Name is invalid</div>
                                    </div>
                                </mat-form-field>
                            </div>
                            <div class="form-group">
                                <mat-form-field [floatLabel]="'never'">
                                    <input matInput type="text" class="form-control" pattern="^[a-zA-Z]*$"
                                        (keydown.space)="$event.preventDefault()" [(ngModel)]="last_name" value=""
                                        name="last_name" #lastName="ngModel" placeholder="Last name" maxlength="15" required>
                                    <div class="validation_logins" *ngIf="f.submitted && lastName.invalid">
                                        <div *ngIf="lastName.errors.required " class="alert alert-danger"> Enter Last
                                            Name
                                        </div>
                                        <div *ngIf="lastName.errors?.pattern" class="alert alert-danger  p-0 small">Last
                                            Name is invalid</div>
                                    </div>
                                </mat-form-field>
                            </div>
                        </div>
        <div class="country_code_outer">
         <div class="country_code_common">
                        <div class="ngx-select_countrycode" *ngIf="countryCode && countryCode.length>0" >
                                <ngx-select-dropdown  (change)="selectionChanged($event)"  name="country_code"  [(ngModel)]="country_code" [config]="config" [options]="countryCode" required></ngx-select-dropdown>
                                <div class="validation_logins" *ngIf="f.submitted && countryCode.invalid">
                                    <div *ngIf="countryCode.errors.required " class="alert alert-danger"> Enter your
                                        Country Code </div>
                            </div>
                        </div>
                            <div class="form-group">
                                <div class="country_feild">
                                    <mat-form-field [floatLabel]="'never'">
                                        <input matInput type="text" class="form-control" pattern="^[0-9]*$"
                                            #phone="ngModel" [(ngModel)]="number" value="" name="number"
                                            placeholder="Phone Number" minlength="5" maxlength="15" required>

                                    </mat-form-field>
                            
                                </div>
                            </div>
              
         </div>
         <div class="validation_logins" *ngIf="f.submitted && phone.invalid">
            <div *ngIf="phone.errors.required " class="alert alert-danger"> Enter your Phone
                Number </div>
            <div *ngIf="phone.errors?.maxlength" class="alert alert-danger ">
                Phone Number can be only of
                15 digits!

            </div>
            <div *ngIf="phone.errors?.pattern || phone.errors?.minlength"
                class="alert alert-danger">
                Phone Number is invalid
            </div>
        </div>
                        </div>
                        <div class="form-group">
                            <mat-form-field [floatLabel]="'never'">
                                <input matInput type="text" class="form-control" [(ngModel)]="Email" value=""
                                    name="email" #email="ngModel" id="usr" placeholder="Email"
                                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
                                <div class="validation_logins" *ngIf="f.submitted && email.invalid">
                                    <div *ngIf="email.errors.required" class="alert alert-danger">Enter your Email
                                    </div>
                                    <div *ngIf="email.errors.pattern" class="alert alert-danger">Email must be
                                        a valid email address</div>
                                </div>
                            </mat-form-field>
                        </div>
                        <div class="form-group">
                            <mat-form-field appearance="fill">
                               <!-- <mat-label>Select Gender</mat-label> -->
                                <mat-select ngModel name="gender">
                                    <mat-option value="" selected disabled>Select Gender</mat-option>
                                    <mat-option *ngFor="let list of gender" [value]="list">
                                        {{list}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="form-group">
                            <mat-form-field appearance="fill">
                               <!-- <mat-label>Select Nationality</mat-label> -->
                                <mat-select ngModel name="nationality" [(ngModel)]="selectedNationality">
                                    <mat-option *ngFor="let list of nationality" [value]="list.en_short_name">
                                        {{list.en_short_name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="form-group">
                            <mat-form-field [floatLabel]="'never'">
                                <input matInput type="password" class="form-control" #password="ngModel"
                                    [(ngModel)]="Password" value="" name="password" minlength="8" class="form-control"
                                    id="usr" placeholder="Password" required>
                                <div class="validation_logins" *ngIf="f.submitted && password.invalid">
                                    <div *ngIf="password.errors.required " class="alert alert-danger"> Enter
                                        Password
                                    </div>
                                    <div *ngIf="password.errors?.minlength" class="alert alert-danger ">
                                        Password should be of atleast 8 characters!

                                    </div>
                                </div>
                            </mat-form-field>
                        </div>
                        <div class="form-group">
                            <mat-form-field [floatLabel]="'never'">
                                <input matInput type="password" class="form-control" name="confirm_password"
                                    #confirmpassword="ngModel" ngModel id="pwd" placeholder="Confirm Password"
                                    (keyup)="checkConfirm(password,confirmpassword)" required>
                            </mat-form-field>
                            <div class="validation_logins" *ngIf="f.submitted && confirmpassword.invalid">
                                <div *ngIf="confirmpassword.errors.required" class="alert alert-danger"> Please fill
                                    the
                                    Confirm Password </div>


                            </div>
                            <div *ngIf="f.submitted && confirmError && f.submitted && !confirmpassword.invalid"
                                class="alert alert-danger"> Password must match
                            </div>
                        </div>
                        <div class="form-group">
                            <mat-form-field [floatLabel]="'never'">
                                <input matInput type="text" placeholder="Referral Code (optional)" name="referral_code" [(ngModel)]="referral_code">
                            </mat-form-field>
                        </div>
                    </div>
                    <button type="submit">Sign up</button>
                </form>
            </div>
            <p class="signupp">Already have account <a (click)="goTologin()">login</a></p>
        </div>
    </div>
</div>