.about_us_outer{width: 100%;display: inline-block;vertical-align: middle;text-align: center;}
.about_us h3{font-size: 26px;font-weight: 800;padding-bottom: 15px;}
.about_us{width: 100%;display: inline-block;vertical-align: middle;margin: 40px 0;}
.about_us p{font-size: 15px;color: #5c5c5c;    line-height: 25px;}