<section class="body_warpper product_detailpage">
    <app-navbar></app-navbar>
    <!-- <div *ngIf="spinner" class="loader"></div> -->

    <!--------start cart page top sec-->
    <div *ngIf="!spinner">
    <div *ngIf="cardData && cardData.length > 0; else nodata">
    <div class="all_sec top_page_title">
        <div class="conta_iner">
            <h3>Cart</h3>
        </div>
    </div>
    <div class="cart_page_sec">
        <div class="conta_iner">
            <div class="cart_product_aside">
                <div class="allcart_product_bx">
                    <ul>
                        <li  *ngFor="let item of cardData; let i=index" >
                            <div class="cart_addproduct_bx">
                                <div class="cart_product_img">
                                    <figure>
                                        <img *ngIf="item.campaign" [src]="item.campaign.product.image" alt="">
                                        <img  *ngIf="!item.campaign"[src]="item.product.image" alt="">
                                    </figure>
                                </div>
                                <div class="cart_product_disc">
                                    <h3 *ngIf="item.campaign">{{item.campaign.name}} 
                                        <!-- win
                                        <span> {{item.campaign.prize.name}}</span> -->
                                    </h3>
                                    <h3 *ngIf="!item.campaign">{{item.name}} 
                                        <!-- win
                                        <span> {{item.prize.name}}</span> -->
                                    </h3>
                                    <p *ngIf="item.campaign">${{item.campaign.product.price}} </p>
                                    <p *ngIf="!item.campaign">${{item.product.price}} </p>

                                    <div class="camp_addquienty">
                                        <button *ngIf="item.campaign" [disabled]="item.campaign_count <= 1"
                                       
                                        (click)="decrement(item)"><span>-</span></button>
                                        <button *ngIf="!item.campaign" [disabled]="item.cart_count <= 1"
                                       
                                        (click)="decrement(item)"><span>-</span></button>
                                        <mat-form-field *ngIf="item.campaign" [floatLabel]="'never'">
                                            <input matInput  type="text"
                                            readonly [(ngModel)]="item.campaign_count">
                                        </mat-form-field>
                                        <mat-form-field *ngIf="!item.campaign" [floatLabel]="'never'">
                                            <input matInput  type="text"
                                            readonly [(ngModel)]="item.cart_count">
                                        </mat-form-field>
                                        
                                        <button  *ngIf="!item.campaign" [disabled]="
                                        item.cart_count >= item.max_per_user"                                      
                                      (click)="increment(item)"><span>+</span></button>
                                      <button *ngIf="item.campaign"  [disabled]="
                                        item.campaign_count >= item.campaign.max_per_user"                                      
                                      (click)="increment(item)"><span>+</span></button>
                                    </div>
                                </div>
                                <div  data-toggle="modal" data-target="#cancelModal" (click)="selectedcancelList(i,item)"class="close_btn">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="13.611" height="13.611"
                                        viewBox="0 0 13.611 13.611">
                                        <g id="Cencel_Icon" data-name="Cencel Icon" transform="translate(1.061 1.061)">
                                            <line id="Line_2" data-name="Line 2" y1="11.31" x2="11.31"
                                                transform="translate(0.18 0.18)" fill="none" stroke="#979797"
                                                stroke-linecap="square" stroke-miterlimit="10" stroke-width="1.5" />
                                            <line id="Line_3" data-name="Line 3" x2="11.32" y2="11.32" fill="none"
                                                stroke="#979797" stroke-linecap="square" stroke-miterlimit="10"
                                                stroke-width="1.5" />
                                        </g>
                                    </svg>

                                </div>
                            </div>
                            <!---start cart tickect sec-->
                            <div class="cart_ticket_sec">
                                <div class="cart_ticket_icon">
                                    <svg id="cinema" xmlns="http://www.w3.org/2000/svg" width="28.606" height="24.061"
                                        viewBox="0 0 28.606 24.061">
                                        <path id="Path_2603" data-name="Path 2603"
                                            d="M212.973,196.605l.81-.128a.452.452,0,0,1,.079-.006.505.505,0,0,1,.45.276l.372.73.128-.808a.505.505,0,0,1,.42-.419l.808-.129-.73-.372a.5.5,0,0,1-.27-.528l.128-.81-.578.578a.5.5,0,0,1-.586.092l-.731-.372.372.73a.5.5,0,0,1-.093.586Zm0,0"
                                            transform="translate(-199.534 -182.154)" fill="#fff" />
                                        <path id="Path_2604" data-name="Path 2604"
                                            d="M9.923,27.827a1.514,1.514,0,0,0-2.586-1.071l-.357.357-2.5-2.5a1.514,1.514,0,0,1,0-2.141L17.472,9.481l-1.2-1.2a.5.5,0,0,0-.714,0L.148,23.691a.5.5,0,0,0,0,.714l1.821,1.821a2.524,2.524,0,0,1,3.5,3.5l1.82,1.82a.5.5,0,0,0,.714,0l1.706-1.705-.585-.584.357-.357A1.505,1.505,0,0,0,9.923,27.827Zm0,0"
                                            transform="translate(0 -7.631)" fill="#fff" />
                                        <path id="Path_2605" data-name="Path 2605"
                                            d="M85.466,21.764l1.82,1.82a.5.5,0,0,0,.714,0L103.41,8.174a.505.505,0,0,0,0-.714l-1.822-1.821a2.524,2.524,0,0,1-3.5-3.5L96.271.324a.505.505,0,0,0-.714,0L92.832,3.048,80.148,15.731a.5.5,0,0,0,0,.714l1.821,1.821a2.52,2.52,0,0,1,3.709,3.1A2.448,2.448,0,0,1,85.466,21.764ZM98.474,10.254l.714.714-.714.714-.714-.714Zm-.714-.714-.714.714-.714-.714.714-.714ZM95.619,7.4l.714.714-.714.714-.714-.714ZM94.191,5.971l.714.714-.714.714-.714-.714ZM92.763,4.543l.714.714-.714.714-.714-.714ZM86.578,15.011,88,13.592,87.089,11.8a.5.5,0,0,1,.679-.679l1.788.909,1.419-1.419a.5.5,0,0,1,.858.436l-.321,1.984,1.788.912a.5.5,0,0,1-.151.948l-1.982.314-.311,1.982a.5.5,0,0,1-.42.42.475.475,0,0,1-.079.007.5.5,0,0,1-.449-.276L89,15.553l-1.982.314a.5.5,0,0,1-.436-.858Zm0,0"
                                            transform="translate(-74.952 -0.176)" fill="#fff" />
                                    </svg>
                                </div>
                                <div class="cart_ticket_units">
                                    <p >{{item.count}} Tickets per Unit </p>
                                    <!-- <p *ngIf="item.campaign.early_item_number > item.campaign.inventory_sold">{{ticket_count}} Tickets per Units </p> -->

                                    <span *ngIf="!donateStatus">You’ve selected to Donate this Product</span>
                                    <span *ngIf="donateStatus">Want EXTRA TICKETS? Donate this product</span>
                                </div>
                            </div>
                        </li>
                      
                    </ul>
                </div>
                <div  *ngIf="cardData" class="cart_paynow_bx">
                    <!----start donate box-->
                    <div class="cart_donate_bx">
                        <p  *ngIf="!donateStatus">DOUBLE YOUR TICKETS by donating your product to charity</p>
                        <p  *ngIf="donateStatus">Your donation makes needy people SMILE</p>
                        <div class="cart_donate_btn">
                            <button  *ngIf="authtoken" (click)="donatenot($event)" class="dont_donate_btn"><span><svg id="Group_689" data-name="Group 689"
                                        xmlns="http://www.w3.org/2000/svg" width="18.031" height="18.031"
                                        viewBox="0 0 18.031 18.031">
                                        <path id="Path_1460" data-name="Path 1460"
                                            d="M9.015,0a9.015,9.015,0,1,0,9.015,9.015A9.025,9.025,0,0,0,9.015,0Zm3.005,4.508a1.5,1.5,0,1,1-1.5,1.5A1.5,1.5,0,0,1,12.021,4.508Zm-6.01,0a1.5,1.5,0,1,1-1.5,1.5A1.5,1.5,0,0,1,6.01,4.508Zm7.5,8.964a.751.751,0,0,1-.97-.433,3.9,3.9,0,0,0-3.524-2.521A3.9,3.9,0,0,0,5.49,13.04a.751.751,0,0,1-.7.484.754.754,0,0,1-.7-1.019A5.424,5.424,0,0,1,9.015,9.015,5.425,5.425,0,0,1,13.942,12.5.751.751,0,0,1,13.509,13.472Z"
                                            fill="#fff" />
                                    </svg>
                                </span>Don't Donate</button>
                                <button *ngIf="!authtoken"   data-target="#Continue_login" data-toggle="modal" (click)="donatenot($event)" class="dont_donate_btn"><span><svg id="Group_689" data-name="Group 689"
                                    xmlns="http://www.w3.org/2000/svg" width="18.031" height="18.031"
                                    viewBox="0 0 18.031 18.031">
                                    <path id="Path_1460" data-name="Path 1460"
                                        d="M9.015,0a9.015,9.015,0,1,0,9.015,9.015A9.025,9.025,0,0,0,9.015,0Zm3.005,4.508a1.5,1.5,0,1,1-1.5,1.5A1.5,1.5,0,0,1,12.021,4.508Zm-6.01,0a1.5,1.5,0,1,1-1.5,1.5A1.5,1.5,0,0,1,6.01,4.508Zm7.5,8.964a.751.751,0,0,1-.97-.433,3.9,3.9,0,0,0-3.524-2.521A3.9,3.9,0,0,0,5.49,13.04a.751.751,0,0,1-.7.484.754.754,0,0,1-.7-1.019A5.424,5.424,0,0,1,9.015,9.015,5.425,5.425,0,0,1,13.942,12.5.751.751,0,0,1,13.509,13.472Z"
                                        fill="#fff" />
                                </svg>
                            </span>Don't Donate</button>
                            <button (click)="donate($event)" id="donate_default" class="donate_btn donate_active"><span><svg xmlns="http://www.w3.org/2000/svg"
                                        width="18.881" height="18.881" viewBox="0 0 18.881 18.881">
                                        <path id="smile"
                                            d="M9.441,0a9.441,9.441,0,1,0,9.441,9.441A9.448,9.448,0,0,0,9.441,0ZM3.934,7.08A1.573,1.573,0,1,1,5.507,8.654,1.578,1.578,0,0,1,3.934,7.08Zm10,7.018a6.349,6.349,0,0,1-8.98,0,.787.787,0,0,1,1.112-1.112,4.777,4.777,0,0,0,6.755,0A.787.787,0,0,1,13.93,14.1Zm-.556-5.445A1.573,1.573,0,1,1,14.948,7.08,1.578,1.578,0,0,1,13.374,8.654Z"
                                            fill="#fcb83f" />
                                    </svg>
                                </span> Donate</button>
                        </div>
                    </div>
                    <div  *ngIf="donateStatus" class="toogle_menu_name">
                        <div class="label_1">
                        <label class="switch">
                            <input type="checkbox" (change)="changeToggle()" [checked]="status">
                            <span class="slider round"></span>
                            <p>I want to collect my product from Windealz HQ</p>
                          </label>
                        </div>
                        <div class="label_1">
                          <label class="switch">
                            <input type="checkbox"  (change)="changeToggle()" [checked]="!status">
                            <span class="slider round"></span>
                            <p>I want my product to be delivered(Delivery Charges will be applied per product)</p>
                          </label>
                          </div>
                    </div>
                    <!----start will earn points-->
                    <div class="earn_points"  *ngIf="!donateStatus">
                        <svg id="surface1" xmlns="http://www.w3.org/2000/svg" width="35.676" height="35.675"
                            viewBox="0 0 35.676 35.675">
                            <path id="Path_1463" data-name="Path 1463"
                                d="M140.6,3.931a2.38,2.38,0,0,1,1.955,1.955.615.615,0,0,0,1.213,0,2.38,2.38,0,0,1,1.955-1.955.615.615,0,0,0,0-1.213A2.38,2.38,0,0,1,143.77.762a.615.615,0,0,0-1.213,0A2.38,2.38,0,0,1,140.6,2.718a.615.615,0,0,0,0,1.213Zm0,0"
                                transform="translate(-134.552 -0.25)" fill="#fff" />
                            <path id="Path_1464" data-name="Path 1464"
                                d="M700.778,392.935a2.38,2.38,0,0,1,1.955,1.956.615.615,0,0,0,1.213,0,2.381,2.381,0,0,1,1.955-1.956.615.615,0,0,0,0-1.213,2.38,2.38,0,0,1-1.955-1.955.615.615,0,0,0-1.213,0,2.379,2.379,0,0,1-1.955,1.955.615.615,0,0,0,0,1.213Zm0,0"
                                transform="translate(-672.584 -373.877)" fill="#fff" />
                            <path id="Path_1465" data-name="Path 1465"
                                d="M287.467,155.816a7.381,7.381,0,1,0,7.381,7.381A7.382,7.382,0,0,0,287.467,155.816Zm-4.921,7.381h-1.23a6.158,6.158,0,0,1,6.151-6.151v1.23A4.927,4.927,0,0,0,282.546,163.2Zm4.306,3.691v-.615h-1.23v-1.23h2.46a.615.615,0,0,0,0-1.23h-1.23a1.845,1.845,0,0,1,0-3.691v-.615h1.23v.615h1.23v1.23h-2.46a.615.615,0,0,0,0,1.23h1.23a1.845,1.845,0,1,1,0,3.691v.615Zm.615,2.46v-1.23a4.927,4.927,0,0,0,4.921-4.921h1.23A6.158,6.158,0,0,1,287.467,169.348Zm0,0"
                                transform="translate(-269.014 -149.667)" fill="#fff" />
                            <path id="Path_1466" data-name="Path 1466"
                                d="M0,648.651H4.921V638.195H0Zm1.845-4.306a1.23,1.23,0,1,1-1.23,1.23A1.23,1.23,0,0,1,1.845,644.346Zm0,0"
                                transform="translate(0 -612.977)" fill="#fff" />
                            <path id="Path_1467" data-name="Path 1467"
                                d="M184.354,612.4a1.659,1.659,0,0,0-1.6-.1l-8.429,3.99a.618.618,0,0,1-.263.062h-9.227a.615.615,0,0,1,0-1.23h7.689a1.538,1.538,0,0,0,0-3.076h-7.689a.615.615,0,0,1-.435-.18,7.492,7.492,0,0,0-8.791-1.3v10.709h15.479a10.467,10.467,0,0,0,5.239-1.408l7.974-4.617a1.666,1.666,0,0,0,.056-2.85Zm0,0"
                                transform="translate(-149.454 -585.601)" fill="#fff" />
                        </svg>
                        <p>You will earn <span>{{loyalty_can_be}}</span> wPoints from this purchase</p>
                        
                    </div>

                    <!---start address select sec-->
                    <div  class="address_select_sec">
                        <h3 *ngIf="warehouse && status" class="cart_address_title">Admin Note</h3>
                        <div *ngIf="warehouse"  class="one_address_bx">
                            <p><span>{{hq_address}}</span>
                                <!-- ,<span>Mirpur</span>,<span>Dhaka</span>-<span>1216</span>
                            </p>
                            <p>House no:<span class="house_no_cart">938</span></p>
                            <p>Road no:<span class="road_no_cart">9</span></p> -->
                        </div>                        <!---start add and show address sec-->
                        <div  *ngIf="donateStatus && userAddress"  class="cart_add_Addresslist">
                            <ul>
                                <li *ngIf="address" class="edit_address">
                                    <label>Enter Your Address </label>
                                    <form>
                                    <div class="form-group">
                                        <mat-form-field [floatLabel]="'never'">
                                           <textarea matInput (click)="gotoAddress()" [(ngModel)]="userAddress" name="userAddress" readonly></textarea>
                                        </mat-form-field>
                                    </div>
                                    </form>
                                </li>
                                <!-- <li>
                                    <div class="one_address_bx">
                                        <p><span>Shewrapara</span>,<span>Mirpur</span>,<span>Dhaka</span>-<span>1216</span>
                                        </p>
                                        <p>House no:<span class="house_no_cart">938</span></p>
                                        <p>Road no:<span class="road_no_cart">9</span></p>
                                    </div>
                                    <div class="address_radio_btn">
                                        <mat-radio-button value="1" checked="checked"></mat-radio-button>
                                    </div>
                                </li> -->
                                <!-- <li>
                                    <div class="one_address_bx">
                                        <p><span>Shewrapara</span>,<span>Mirpur</span>,<span>Dhaka</span>-<span>1216</span>
                                        </p>
                                        <p>House no:<span class="house_no_cart">938</span></p>
                                        <p>Road no:<span class="road_no_cart">9</span></p>
                                    </div>
                                    <div class="address_radio_btn">
                                        <mat-radio-button value="1"></mat-radio-button>
                                    </div>
                                </li> -->
                            </ul>
                            <!-- <div class="address_btn_cart">
                                <button>Add Address</button>
                            </div> -->
                        </div>
                        <!-----end add and show address sec-->
                        <!----start promo code sec-->
                        <form name="form" #f="ngForm" (ngSubmit)="addcoupon(f)">
                        <div class="cart_promocode">
                            <mat-form-field [floatLabel]="'never'">
                                <input matInput type="text" class="form-control" [(ngModel)]="promo_code_name" name="promo_code_name" placeholder="Promo Codes" #promocode="ngModel" required>
                            </mat-form-field>
                           
                               
                            <!-- </div> -->
                            <button *ngIf="apply" type="submit" >Apply</button>
                             <button *ngIf="remove" (click)="removeCoupon()">Remove</button>
                            <!-- <div class="validation_logins" *ngIf="f.submitted && promocode.invalid">
                                <div *ngIf="promocode.errors?.required " class="alert alert-danger"> Enter Promo Code
                                    Name
                                </div> -->
                        
                </div>
                        </form>
                        <!------end promo code -->
                        <!-----start cart subtoital sec-->
                        <div class="cart_subtoatl_sec">
                            <div class="cart_subtotal_pricebill">
                                <ul>
                                    <li>
                                        <h5>Subtotal</h5>
                                        <p>${{subTotal}}</p>

                                    </li>
                                    <li>
                                        <h5>Discount</h5>
                                        <p *ngIf="discount_type==1">{{discount_percent}}%</p>
                                      <p *ngIf="discount_type==2">Double Ticket</p>
                                                                                <p *ngIf="discount_type==''">0%</p>

                                    </li>
                                    <li>
                                        <h5>Inclusive of {{tax_percentage}}% VAT</h5>
                                        <p>{{tax_percentage}}%</p>
                                    </li>
                                    <li *ngIf="shipping">
                                        <h5>Shipping</h5>
                                        <p>$ {{shipping_charges}}</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="grand_total_sec">
                                <p>${{grandTotal}} <span>Grand total</span></p>
                                <button  (click)="submit()">
                                    proceed to pay
                                </button>
                            </div>
                        </div>
                        <!----end cart sub total sec-->
                    </div>
                    <!---end address select sec-->
                </div>
                <!----end cart payment main div-->
            </div>
            <!---cart product  top section end-->
        </div>
        <!----end container div-->
    </div>
    </div>
</div>
    <ng-template #nodata>
        <div class="text-center empty_cart">
            <figure>
              <img src="assets/images/no_cart_item.png" width="30%" />
            </figure>
            <h2>Empty Cart</h2>
            <p>Lorem Ipsum is simply dummy text of the 
              printing and typesetting industry. Lorem Ipsum 
              has been the industry's standard dummy text.</p>
              <div class="add_cartbtn">
              <button mat-button="" (click)="gotohome()" class="mat-button mat-button-base">Go Home</button></div>
          </div>
      </ng-template>
    <!----end cart page layout div end-->
    <!----start footer sec-->
    <app-footer></app-footer>
</section>

<!------start add address popup -->
<div class="cart_add_address">
    <div class="add_addres_bx">
        <div class="add_addess_inner">
            <h3>Add new address</h3>
            <div class="add_address_input">
                <ul>
                    <li>
                        <label>Name</label>
                        <mat-form-field [floatLabel]="'never'">
                            <input matInput type="text" placeholder="" name="name">
                        </mat-form-field>
                    </li>
                    <li>
                        <label>Apartment</label>
                        <mat-form-field [floatLabel]="'never'">
                            <input matInput type="text" placeholder="" name="name">
                        </mat-form-field>
                    </li>
                    <li>
                        <label>Building name</label>
                        <mat-form-field [floatLabel]="'never'">
                            <input matInput type="text" placeholder="" name="name">
                        </mat-form-field>
                    </li>
                    <li>
                        <label>City</label>
                        <mat-form-field [floatLabel]="'never'">
                            <input matInput type="text" placeholder="" name="name">
                        </mat-form-field>
                    </li>
                    <li>
                        <label>Postal Code</label>
                        <mat-form-field [floatLabel]="'never'">
                            <input matInput type="text" placeholder="" name="name">
                        </mat-form-field>
                    </li>
                    <li>
                        <label>Phone Number</label>
                        <mat-form-field [floatLabel]="'never'">
                            <input matInput type="text" placeholder="" name="name">
                        </mat-form-field>
                    </li>
                </ul>
                <div class="submit_address_btn">
                    <button>add address</button>
                </div>
            </div>
            <div class="close_btn_address">
                <a><svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 27 27">
                        <g id="Group_2420" data-name="Group 2420" transform="translate(-871 -503.101)">
                            <circle id="Ellipse_207" data-name="Ellipse 207" cx="13.5" cy="13.5" r="13.5"
                                transform="translate(871 503.101)" fill="#fff" />
                            <g id="error" transform="translate(873.258 505.258)">
                                <g id="Group_2419" data-name="Group 2419">
                                    <path id="Path_3158" data-name="Path 3158"
                                        d="M11.292,0A11.292,11.292,0,1,0,22.584,11.292,11.3,11.3,0,0,0,11.292,0Zm4.567,14.528a.47.47,0,0,1,0,.665l-.665.665a.471.471,0,0,1-.665,0l-3.236-3.236L8.055,15.859a.471.471,0,0,1-.665,0l-.665-.665a.47.47,0,0,1,0-.665l3.236-3.237L6.725,8.055a.47.47,0,0,1,0-.665l.665-.665a.471.471,0,0,1,.665,0l3.236,3.236,3.236-3.236a.471.471,0,0,1,.665,0l.665.665a.47.47,0,0,1,0,.665l-3.236,3.236Z"
                                        fill="#ff5050" />
                                </g>
                            </g>
                        </g>
                    </svg>
                </a>
            </div>
        </div>

    </div>
</div>
<!-----end add address popup-->
<div class="modal header_logout" id="Continue_login">
    <div class="modal-dialog">
      <div class="modal-content">
    <!-- Modal body -->
        <div class="modal-body">
            <div class="like_modale">
                <div class="modale_inner">
                 <p><strong>You Need To Login First</strong></p>
                </div>
                <div class="modale_btn">
                    <button (click)="gotoLogin()" data-dismiss="modal" mat-raised-button class="yes_button">
                        OK
                    </button>
                    <!-- <button mat-raised-button class="yes_button" data-dismiss="modal">
                        Continue
                    </button> -->
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <!------cancelpop-up------------->

  <div class="modal header_logout" id="proceed_pay">
    <div class="modal-dialog">
      <div class="modal-content">
    <!-- Modal body -->
        <div class="modal-body">
            <div class="like_modale">
                <div class="modale_inner">
                 <h2>Increase your chances to WIN, Double your tickets</h2>
                 <p>You can donate your purchased product and double you tickets for FREE</p>
                </div>
                <div class="modale_btn">
                    <button   *ngIf="!authtoken"   data-target="#Continue_login" data-toggle="modal" mat-raised-button class="yes_button"  data-dismiss="modal">
                       Double my tickets
                    </button>
                    <button  *ngIf="!authtoken" data-target="#Continue_login" data-toggle="modal"  mat-raised-button class="no_button" data-dismiss="modal" >
                        No Thanks
                    </button>
                    <button   *ngIf="authtoken"  mat-raised-button class="yes_button" (click)="goTopaynow()" data-dismiss="modal">
                        Double my tickets
                    </button>
                    <button  *ngIf="authtoken"    mat-raised-button class="no_button" data-dismiss="modal" (click)="goTopaynowDATA()">
                        No Thanks
                    </button>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal header_logout" id="cancelModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal body -->
            <div class="modal-body">
                <div class="like_modale">
                    <div class="modale_inner">
                        <svg xmlns="http://www.w3.org/2000/svg" width="169.388" height="53.348"
                            viewBox="0 0 169.388 53.348">
                            <g id="Group_2438" data-name="Group 2438" transform="translate(-80 -49)">
                                <g id="Group_621" data-name="Group 621" transform="translate(80 49)">
                                    <path id="Path_1429" data-name="Path 1429"
                                        d="M6356.94,6576.379h10.7a2,2,0,0,1,1.646,1.247c.584,1.728.531,2.039-.012,4.342-1.318,5.588-5.642,12.443-5.642,12.443h-15.271a2.735,2.735,0,0,0-1.356,1.252,4.928,4.928,0,0,0-.192,2.227h20.087s5.747-5.641,7.487-17.4c.485-3.269-.66-5.737-2.636-7.118-3.744-2.953-14.816-1.6-14.816-1.6a4.273,4.273,0,0,0-1.193,2.371A3.7,3.7,0,0,0,6356.94,6576.379Z"
                                        transform="translate(-6342.25 -6553.162)" fill="#fcb83f" />
                                    <rect id="Rectangle_180" data-name="Rectangle 180" width="5.419" height="16.645"
                                        rx="2.71" transform="translate(5.032 18.588) rotate(-21)" fill="#fcb83f" />
                                    <rect id="Rectangle_182" data-name="Rectangle 182" width="5.419" height="16.645"
                                        rx="2.71" transform="translate(8.129 1.942) rotate(-21)" fill="#fcb83f" />
                                    <rect id="Rectangle_183" data-name="Rectangle 183" width="5.419" height="16.646"
                                        rx="2.71" transform="translate(24.028 17.482) rotate(-159)" fill="#fcb83f" />
                                    <rect id="Rectangle_181" data-name="Rectangle 181" width="5.419" height="11.226"
                                        rx="2.71" transform="translate(0 23.62) rotate(-21)" fill="#fcb83f" />
                                    <circle id="Ellipse_25" data-name="Ellipse 25" cx="3.677" cy="3.677" r="3.677"
                                        transform="translate(1.422 45.993)" />
                                    <circle id="Ellipse_26" data-name="Ellipse 26" cx="3.677" cy="3.677" r="3.677"
                                        transform="translate(22.712 45.993)" />
                                </g>
                                <text id="Windealz" transform="translate(115.388 88.263)" font-size="26"
                                    font-family="Montserrat-ExtraBoldItalic, Montserrat" font-weight="800"
                                    font-style="italic">
                                    <tspan x="0" y="0">Windealz</tspan>
                                </text>
                            </g>
                        </svg>
                        <p>Are you sure want to remove this item from your cart?</p>
                    </div>
                    <div class="modale_btn">
                        <button mat-raised-button class="yes_button" data-dismiss="modal" (click)="removeItem()">
                            Ok
                        </button>
                        <button mat-raised-button class="no_button" data-dismiss="modal">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>