.cart_page_sec {
  margin-bottom: 80px;
}
.address_select_sec {
  display: block;}
  .empty_cart figure{width: 289px;height: 195px;margin: 50px auto 0 auto;}
  .empty_cart figure img{width: 100%;height: 100%;object-fit: contain;}
  .empty_cart {
      width: 100%;
      margin: 0 auto;
      max-width: 400px;
  }
  .empty_cart h2{font-size: 30px;    font-weight: 700;
      color: #000000;margin: 20px 0 0;}
      .empty_cart p{font-weight: 400;
          color: #9B9B9B;font-size: 15px;margin: 15px 0 25px;}
          .add_cartbtn {
              margin-left: 0;
          }
          .switch {
              position: relative;
              width: 100%;
              display: flex;
              align-items: center;
              height: 32px;
            }
            .toogle_menu_name{margin: 30px 0 10px;}
            .switch input { 
              opacity: 0;
              width: 0;
              height: 0;
            }
            .slider {
              position: absolute;
              cursor: pointer;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              background-color: #ccc;
              -webkit-transition: .4s;
              transition: .4s;
              width: 60px;
            }
            .slider:before {
              position: absolute;
              content: "";
              height: 26px;
              width: 26px;
              left: 4px;
              bottom: 4px;
              background-color: #fff;
              -webkit-transition: .4s;
              transition: .4s;
            }
            input:checked + .slider {
              background-color: #FCB83F;
            }
            input:focus + .slider {
              box-shadow: 0 0 1px #FCB83F;
            }
            input:checked + .slider:before {
              -webkit-transform: translateX(26px);
              -ms-transform: translateX(26px);
              transform: translateX(26px);
            }
            /* Rounded sliders */
            .slider.round {
              border-radius: 34px;
            }
            .slider.round:before {
              border-radius: 50%;
            }
            label.switch p {
              font-weight: 500;
              font-size: 14px;
              padding-left: 78px;
          }
          .label_1 {
              width: 100%;
              display: inline-block;
              vertical-align: middle;
              margin-bottom: 15px;
          }
          .cart_add_Addresslist ul li.edit_address {
              box-shadow: none;
          }
          .cart_add_Addresslist ul li.edit_address {
              box-shadow: none;
              padding: 0;
          }
          .cart_add_Addresslist ul li.edit_address .form-group {
             border-radius: 5px;}
          .cart_add_Addresslist ul li.edit_address .form-group textarea {
              width: 100%;
              border: none;
  overflow: hidden;
  border-radius: 5px;
padding: 15px;
resize: none;
height: auto;
overflow-y: auto;
          }
          li.edit_address label {
              margin-bottom: 9px;
              font-size: 15px;
          }
          .modal-header {
              position: absolute;
              right: -30px;
              top: -30px;
              border: unset;
              background-color: #000;
              padding: 0;
              height: 30px;
              width: 30px;
              border-radius: 50%;
              text-align: center;
              display: flex;
              align-items: center;
              justify-content: center;
          }
          .modal-header button.close {
              margin: 0;
              color: #fff;
              opacity: 1;
              line-height: normal;
              display: flex;
              align-items: stretch;
              justify-content: center;
              font-size: 21px;
              transform: translate(0px, -3px);
          }
          .modal-body {
              position: relative;
              padding: 55px 20px;
          }
          .modal-body h2 {
              font-size: 24px;
              font-weight: bold;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.26;
              letter-spacing: normal;
              text-align: center;
              color: #000000;
          }
          .modal-body p {
              font-size: 18px;
              font-weight: normal;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.59;
              letter-spacing: normal;
              text-align: center;
              color: #525050;
              width: 95%;
              margin: 10px auto 25px;
          }
          .header_logout .modal-dialog {
              width: 600px;
              margin: 0px auto;
              height: 100vh;
              display: flex;
              justify-content: center;
              align-items: center;
          }
          .header_logout .modal-content {
              width: 600px;
          }
          .modale_btn{width: 100%;display: inline-block;vertical-align: middle;text-align: center;}
          .modale_btn .yes_button{    background: #6BC700;
              font-size: 17px;
              font-weight: 400;
              color: #fff;margin-right: 20px;font-family: "Montserrat";}
              .modale_btn button{padding: 10px 25px;}
              .modale_btn .no_button{    background: #DDDDDD;font-family: "Montserrat"; font-size: 17px;
                  font-weight: 400;
                 }
                 #Continue_login .modale_btn .yes_button{    background: #FCB83F;
                  font-size: 17px;
                  font-weight: 400;
                  color: #fff;margin-right: 20px;font-family: "Montserrat";}
                    .header_logout h3 {
                      font-size: 26px;
                      font-weight: bold;
                      margin: 20px 0;
                  }
                  .header_logout .modal-header {
                      background-color: #fff;    background-color: #fff;
                      border-bottom: none;
                      padding: 0;}
                  
                  
                      .header_logout .modale_inner figure {
                          height: 70px;
                          width: 180px;margin: auto;
                      
                      }
                      .header_logout .modale_inner figure img {
                          width: 100%;
                          height: 100%;
                          object-fit: contain;
                      }
                      .header_logout .like_modale {
                          text-align: center;
                      }
                      .header_logout  .modal-body {
                          padding: 30px 50px !important;
                               }
                  
                      .header_logout  .mat-raised-button:not([class*=mat-elevation-z]) {
                          box-shadow: none;
                          background: #FCB83F;
                          color: #fff;
                          padding: 8px 30px;
                          min-width: 0;
                          line-height: normal;
                          font-size: 15px;
                          margin-left: 10px;cursor: pointer;
                      }
                      .header_logout button.no_button.mat-raised-button.mat-button-base{background: rgb(150, 147, 147);}
                  
                      .header_logout  .modal-body  p {
                          font-size: 18px;
                          color: #000;
                          margin: 17px 0 30px;                        
                      }
                      .header_logout .modal-dialog {
                          width: 600px;
                          margin: 0px auto;
                          height: 100vh;
                          display: flex;
                          justify-content: center;
                          align-items: center;
                      }