<div class="login_wrap forget_password">
    <div class="conta_iner">
        <div class="login_main">
            <div class="login_logo_img">
                <svg xmlns="http://www.w3.org/2000/svg" width="292.576" height="92.828" viewBox="0 0 292.576 92.828">
                    <g id="Group_2401" data-name="Group 2401" transform="translate(-80 -49)">
                        <g id="Group_621" data-name="Group 621" transform="translate(80 49)">
                            <path id="Path_1429" data-name="Path 1429"
                                d="M6364.468,6580.016h18.625a3.486,3.486,0,0,1,2.865,2.169c1.018,3.007.924,3.549-.021,7.556-2.294,9.725-9.817,21.651-9.817,21.651h-26.57a4.755,4.755,0,0,0-2.359,2.18,8.571,8.571,0,0,0-.334,3.875h34.951s10-9.816,13.027-30.275c.844-5.687-1.147-9.981-4.586-12.385-6.515-5.138-25.78-2.784-25.78-2.784s-2.076,2.124-2.076,4.126S6364.468,6580.016,6364.468,6580.016Z"
                                transform="translate(-6338.906 -6539.617)" fill="#fff" />
                            <rect id="Rectangle_180" data-name="Rectangle 180" width="9.43" height="28.964" rx="4.715"
                                transform="translate(8.756 32.343) rotate(-21)" fill="#fff" />
                            <rect id="Rectangle_182" data-name="Rectangle 182" width="9.43" height="28.964" rx="4.715"
                                transform="translate(14.145 3.38) rotate(-21)" fill="#fff" />
                            <rect id="Rectangle_183" data-name="Rectangle 183" width="9.43" height="28.964" rx="4.715"
                                transform="translate(41.809 30.419) rotate(-159)" fill="#fff" />
                            <rect id="Rectangle_181" data-name="Rectangle 181" width="9.43" height="19.534" rx="4.715"
                                transform="translate(0 41.099) rotate(-21)" fill="#fff" />
                            <circle id="Ellipse_25" data-name="Ellipse 25" cx="6.399" cy="6.399" r="6.399"
                                transform="translate(2.474 80.03)" />
                            <circle id="Ellipse_26" data-name="Ellipse 26" cx="6.399" cy="6.399" r="6.399"
                                transform="translate(39.52 80.03)" />
                        </g>
                        <text id="Windealz" transform="translate(141.576 117.817)" font-size="45"
                            font-family="Montserrat-ExtraBoldItalic, Montserrat" font-weight="800" font-style="italic">
                            <tspan x="0" y="0">Windealz</tspan>
                        </text>
                    </g>
                </svg>

            </div>
            <div class="login_form">
                <div class="verification_left">
                    <h4>Reset Password</h4>
                    <form class="forget_input" name="form" (ngSubmit)="f.valid && onPasswordSubmit(f)" #f="ngForm"
                        novalidate>
                        <div class="form-group">
                            <mat-form-field [floatLabel]="'never'">
                                <input matInput type="password" placeholder="New Password" name="newPassword" minlength="8"
                                    [(ngModel)]="newPassword" #newpassword="ngModel" ngModel required>

                            </mat-form-field>
                         
                        </div>
                        <div *ngIf=" f.submitted && newpassword.invalid ">
                            <div *ngIf="newpassword.errors?.required" class="alert alert-danger">
                                Enter your new password</div>
                            <div *ngIf="newpassword.errors?.minlength" class="alert alert-danger">
                                Password should be of atleast 8 characters!</div>
                        </div>

                        <div class="form-group">
                            <mat-form-field [floatLabel]="'never'">
                                <input matInput type="password" (input)="confirmError=false;" [(ngModel)]="cpassword" required
                                    name="cpassword" placeholder=" Confirm Password" #cPassword="ngModel">
                            </mat-form-field>
                         
                        </div>
                        <div *ngIf=" f.submitted && cPassword.invalid " class="alert alert-danger">

                            Enter Confirm Password

                        </div>
                        <div *ngIf="confirmError ">
                            <div class="alert alert-danger">
                                Password and Confirm password didn't matched
                            </div>
                        </div>
                   
                <div class="verification_left"><button type="submit">Update</button></div>
            </form>
        </div>
            </div>
        </div>
    </div>
</div>