<section class="body_warpper homepage">
    <app-navbar></app-navbar>
    <div class="home_banner">
        <div class="conta_iner" >
            <ngx-slick-carousel class="carousel"  #slickModal="slick-carousel" [config]="slideConfig">
                <div ngxSlickItem *ngFor="let slide of top_banner" class="slide">
                    <div  (click)="goToproductdetail(slide)" class="banner_main">
                        <div class="banner_text">
                            <h1><span>win</span>
                                {{slide.prize.name}}
                            </h1>
                            <p>Buy {{slide.product.name}}
                            </p>
                            <span *ngIf="!slide.coupon"></span>
                            <div *ngIf="slide.coupon">
                                <span *ngIf="slide.coupon.discount_type==1">{{discount_percent}} % off</span>
                                <span *ngIf="slide.coupon.discount_type==2">Double Tickets</span>
                            </div>
                        </div>
                        <div class="bann_img">
                            <figure>
                                <img [src]="slide.image" alt="" width="100%">
                             </figure>
                        </div>
                    </div>
                </div>
            </ngx-slick-carousel>
            <!-- </div>--->

        </div>
    </div>
    <!----start cash win prize progress bar-->
    <div *ngIf="closing_campaigns && closing_campaigns.length>0" class="home_winprize_sec">
        <div class="conta_iner">
            <h1>Closing Deals</h1>
            <div class="home_winprize_list">
                <ul>
                    <li *ngFor="let item of closing_campaigns; let i=index">
                        <div class="home_winprize_bx">
                            
                            <div class="home_prizeimg" (click)="goToproductdetail(item)">
                                <div>
                                    Trending
                                </div>
                                <figure>
                                    <img [src]="item.image" alt="">
                                </figure>
                            </div>
                            <div class="home_prizedisc" (click)="goToproductdetail(item)">
                                <div class="prize_disc_text">
                                    <h3>Get a Chance to <strong>Win:</strong><span>{{item.prize.name}}</span></h3>
                                    <p>{{item.inventory_sold}} Sold Out of {{item.inventory}}</p>
                                </div>
                                <div class="winprize_progressbar">
                                    <mat-progress-bar mode="determinate" value={{item.inventory_sold}}></mat-progress-bar>
                                </div>
                            </div>
                            <div (click)="addFav(i,item)" class="fav_icon">
                                <i *ngIf="item.favourite==1"  class="fa fa-heart item_wishlist"></i>
                                <i *ngIf="!item.favourite"  class="fa fa-heart-o"></i>
                            </div>
                        </div>
                    </li>
                    <!-- <li>
                        <div class="home_winprize_bx">
                            <div class="home_prizeimg">
                                <figure>
                                    <img src="assets/images/nva-bar/win_prize.png" alt="">
                                </figure>
                            </div>
                            <div class="home_prizedisc">
                                <div class="prize_disc_text">
                                    <h3>Get a Chance to <strong>Win:</strong><span>Cash $ 1,20,000</span></h3>
                                    <p>30 Sold Out of 380</p>
                                </div>
                                <div class="winprize_progressbar">
                                    <mat-progress-bar mode="determinate" value="20"></mat-progress-bar>
                                </div>
                            </div>
                            <div class="fav_icon">
                                <i class="fa fa-heart-o"></i>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="home_winprize_bx">
                            <div class="home_prizeimg">
                                <figure>
                                    <img src="assets/images/nva-bar/win_prize.png" alt="">
                                </figure>
                            </div>
                            <div class="home_prizedisc">
                                <div class="prize_disc_text">
                                    <h3>Get a Chance to <strong>Win:</strong><span>Cash $ 1,20,000</span></h3>
                                    <p>30 Sold Out of 380</p>
                                </div>
                                <div class="winprize_progressbar">
                                    <mat-progress-bar mode="determinate" value="20"></mat-progress-bar>
                                </div>
                            </div>
                            <div class="fav_icon">
                                <i class="fa fa-heart-o"></i>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="home_winprize_bx">
                            <div class="home_prizeimg">
                                <figure>
                                    <img src="assets/images/nva-bar/win_prize.png" alt="">
                                </figure>
                            </div>
                            <div class="home_prizedisc">
                                <div class="prize_disc_text">
                                    <h3>Get a Chance to <strong>Win:</strong><span>Cash $ 1,20,000</span></h3>
                                    <p>30 Sold Out of 380</p>
                                </div>
                                <div class="winprize_progressbar">
                                    <mat-progress-bar mode="determinate" value="20"></mat-progress-bar>
                                </div>
                            </div>
                            <div class="fav_icon">
                                <i class="fa fa-heart-o"></i>
                            </div>
                        </div>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>

    <!----start All Campaigns sec-->
    <div *ngIf="all_campaigns" class="all_sec home_allcam_sec all_campaingn">
        <div class="conta_iner">
            <div class="home_campaingns_title">
                <h3 class="web_title">All Deals</h3>
                <p class="web_disc">Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry.Lorem
                    Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>

            <div class="all_campaingns_product">
                <ul>
                    <li *ngFor="let item of all_campaigns; let i=index">
                        <div *ngIf="item.status==1" class="all_camproduct_bx">
                            <div class="all_camproduct_img" (click)="goToproductdetail(item)">
                                <figure>
                                    <img [src]="item.product.image" alt="">
                                </figure>
                            </div>
                            <figure>
                                <img [src]="item.prize?.image" alt="">
                            </figure>
                            <div class="all_camproduct_disc">
                                <div class="all_camproduct_text">
                                    <h3><span class="title_name_camp">{{item.product.name}}</span><span (click)="addFav(i,item)" class="fav_icon capmaign_heart">
                                        <i *ngIf="item.favourite==1"  class="fa fa-heart item_wishlist"></i>
                                        <i *ngIf="!item.favourite"  class="fa fa-heart-o"></i>
                                    </span></h3>
                                    <!-- <h3>{{item.product.name}}</h3> -->
                                    <!-- <div class="fav_icon" (click)="addFav(item)">
                                        <i class="fa fa-heart-o"></i>
                                        <i class="fa fa-heart item_wishlist"></i>
                                    </div> -->
                                    <span><strong>Win:</strong>{{item.prize.name}}</span>
                                    <p>{{item.product.description}}</p>
                                </div>
                                <div class="campa_product_price">
                                    <p>BUY {{item.product.name}}<span>
                                            Inclusive of {{tax}}% VAT
                                        </span></p>
                                    <h4>${{item.product.price}}</h4>
                                </div>
                                <div class="camp_addcart">
                                    <div class="add_cartbtn" *ngIf="item.cartStatus == false && item.pendingItem==0 && item.cartRemoveStatus">
                                        <button mat-button>Removed</button>
                                    </div>
                                    <div class="camp_addquienty" *ngIf="item.cartStatus && item.pendingItem>=1">
                                        <button (click)="decrement(i, item)"><span>-</span></button>
                                        <mat-form-field [floatLabel]="'never'">
                                            <input matInput type="text" placeholder="1" readonly [(ngModel)]="item.pendingItem">
                                        </mat-form-field>
                                        <button [disabled]="item.pendingItem >= item.max_per_user" 
                                            (click)="increment(item)"><span>+</span></button>
                                    </div>
                                    <div class="add_cartbtn" (click)="goTocartpage(item)" *ngIf="!item.cartStatus && item.pendingItem==0 && !item.isCartAdded">
                                        <button mat-button>Add To Cart</button>
                                    </div>
                                    <div class="add_cartbtn" *ngIf="!item.cartStatus && item.pendingItem==1 && item.isCartAdded">
                                        <button mat-button>Added to cart</button>
                                    </div>
                                </div>
                                
                                <!-----product progress bar-->
                                <div class="product_sold_progress">
                                    <div class="product_progress_icon">
                                        <div class="product_sold_status">
                                            <h4>{{item.inventory_sold}} / <span>{{item.inventory}}</span></h4>
                                            <p>sold out</p>
                                        </div>
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 107 121">
                                            <defs>
                                                <filter id="Subtraction_3" x="0" y="0" width="107" height="121"
                                                    filterUnits="userSpaceOnUse">
                                                    <feOffset dy="3" input="SourceAlpha" />
                                                    <feGaussianBlur stdDeviation="3" result="blur" />
                                                    <feFlood flood-opacity="0.161" />
                                                    <feComposite operator="in" in2="blur" />
                                                    <feComposite in="SourceGraphic" />
                                                </filter>
                                            </defs>                                 
                                            <g transform="matrix(1, 0, 0, 1, 0, 0)" filter="url(#Subtraction_3)">
                                                <path id="Subtraction_3-2" data-name="Subtraction 3"
                                                    d="M82,103H7a7.008,7.008,0,0,1-7-7V7A7.008,7.008,0,0,1,7,0H72A17,17,0,0,1,89,17V96A7.008,7.008,0,0,1,82,103ZM55.78,86.4a3.9,3.9,0,1,0,3.885,3.9A3.9,3.9,0,0,0,55.78,86.4Zm-22.492,0a3.9,3.9,0,1,0,3.884,3.9A3.9,3.9,0,0,0,33.288,86.4Zm1.074-5.033A2.906,2.906,0,0,0,32.929,82.7a5.272,5.272,0,0,0-.2,2.362H53.948a23.127,23.127,0,0,0,3.265-4.552,39.723,39.723,0,0,0,4.644-13.91c.476-3.224-.539-5.977-2.785-7.553-2.114-1.674-6.473-2.026-9.758-2.026a54.687,54.687,0,0,0-5.894.327,4.615,4.615,0,0,0-1.26,2.516,3.952,3.952,0,0,0,1.26,2.371H54.728a2.133,2.133,0,0,1,1.74,1.324c.609,1.811.566,2.142-.013,4.608-1.378,5.865-5.916,13.131-5.962,13.2ZM36.91,56.1a2.839,2.839,0,0,0-1.024.191A2.873,2.873,0,0,0,34.241,60L38.5,71.127a2.877,2.877,0,0,0,2.668,1.84,2.864,2.864,0,0,0,2.671-3.9L39.58,57.941A2.879,2.879,0,0,0,36.91,56.1ZM31.6,61.439a2.843,2.843,0,0,0-1.025.191,2.876,2.876,0,0,0-1.645,3.707l2.2,5.759a2.877,2.877,0,0,0,2.67,1.841,2.832,2.832,0,0,0,1.025-.192,2.874,2.874,0,0,0,1.645-3.705l-2.2-5.761A2.878,2.878,0,0,0,31.6,61.439Zm24.3-23.005a2.887,2.887,0,0,0-2.679,1.847L48.958,51.4a2.869,2.869,0,1,0,5.354,2.061l4.255-11.119a2.882,2.882,0,0,0-1.649-3.716A2.849,2.849,0,0,0,55.892,38.434Zm-15.71,0a2.842,2.842,0,0,0-1.024.191,2.875,2.875,0,0,0-1.645,3.705l4.26,11.129a2.877,2.877,0,0,0,2.669,1.84,2.84,2.84,0,0,0,1.024-.191,2.874,2.874,0,0,0,1.645-3.7L42.851,40.279A2.875,2.875,0,0,0,40.182,38.437Z"
                                                    transform="translate(9 6)" fill="#fff" />
                                            </g>
                                        </svg>
                                        <div class="product_progressbar">
                                            <div class="product_progress_height"></div>
                                            <mat-progress-bar mode="determinate" value="total"></mat-progress-bar>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- sold out dealz -->
    <div *ngIf="all_campaigns" class="sold_out_section">
        <div class="conta_iner">
            <div class="win_usetitle">
                <h3 class="web_title">Sold out Dealz</h3>

                <!-----start sold out slider-->
                <div class="MultiCarousel" data-items="1,2,3,4" data-slide="1" id="MultiCarousel" data-interval="1000">

                    <div class="MultiCarousel-inner">
                        <!-- <div  *ngFor=" let item of "class="item"> -->
                        <div class="item" *ngFor="let item of all_campaigns">

                            <div *ngIf="item.status==2" class="sold_out">
                                <figure><img src="assets/images/sold_out.png" class="sold_name">
                                </figure>
                                <div  class="product_image">
                                    <figure><img [src]="item.product.image" class="left_Side_image">
                                    </figure>
                                </div>
                                <p>Buy {{item.product.name}}</p>
                                <h3><strong>Prize: ${{item.product.price}}</strong></h3>
                                <h4>Draw Date - {{item.draw_date | date: "medium" }}</h4>
                            </div>
                        </div>

                    </div>
                    <button class="btn btn-primary leftLst">
                        </button>
                            <button class="btn btn-primary rightLst">></button>
                </div>
        

            </div>
        </div>
    </div>

    <!-- sold out end here -->
    <!-- line start from here -->
    <!-- <div class="process_line">
        <figure><img src="../../../assets/images/line.png"></figure>
    </div> -->

    <!-- line end here -->
    <!-- our process start from here -->
    <div class="our_process_section">
        <div class="conta_iner">
            <div class="win_usetitle">
                <h3 class="web_title">Our Process</h3>
            </div>
            <div class="our_process_inner">
                <div class="our_process_comman">
                    <div class="left_circle">
                    </div>
                    <div class="right_process_text">
                        <h2>Purchase W products</h2>
                        <p>Browse our W products and pick <br> what you like. </p>
                    </div>
                </div>
                <div class="our_process_comman">
                    <div class="left_circle">
                    </div>
                    <div class="right_process_text">
                        <h2>Get a Chance to Win</h2>
                        <p>On each purchase you get a ticket <br> to participate in a Draw. </p>
                    </div>
                </div>
                <div class="our_process_comman" id="our_product_id">
                    <div class="left_circle">
                    </div>
                    <div class="right_process_text">
                        <h2>Lucky Draw</h2>
                        <p>Draw happens as soon as <br> deal closes.</p>
                    </div>
                </div>

            </div>
            <div class="learn_more">
                <a>Learn More</a>
            </div>

        </div>
    </div>

    <!-- our process end here -->

    <!-- our_products css start from here -->
    <!-- our_products css start from here -->
    <div *ngIf="products" class="our_product" >
        <div class="conta_iner">
            <div class="win_usetitle">
                <h3 class="web_title">Our Products</h3>
            </div>
            <div class="certification_inner">
                <div class="MultiCarousel" data-items="1,2,3,4" data-slide="1" id="MultiCarousel" data-interval="1000">
                    <div class="MultiCarousel-inner">
                        <div *ngFor="let item of products; let i= index" class="item">
                            <div class="certification_comman" (click)="onViewProducts(i, products)">
                                <figure><img [src]="item.image"></figure>
                                <h2>{{item.name}}</h2>
                                <p>{{item.description}}
                                </p>
                            </div>
                        </div>

                    </div>
                    <button class="btn btn-primary leftLst">
                        </button>
                            <button class="btn btn-primary rightLst">></button>
                </div>
            </div>
        </div>
    </div>



    <!-- our product end here -->

    <!-- cta start fromm her -->
    <div class="cta_outer">
        <div class="conta_iner">
            <div class="cta_inner">
                <div class="get_free" id="winner_windelz">
                    <p>
                        Get Free Loyalty W-Points with every purchase & <br> referrals earn worth 100 W- points.
                    </p>
                    <h5>know more about W Rewards.</h5>
                </div>
                <div class="know_more">
                    <a (click)="onKnowMore()" >Know More</a>
                </div>
            </div>
        </div>

    </div>

    <!-- cta end here -->

    <!-----winner user detail sec-->
    <div class="win_usersec">
        <div class="conta_iner">
            <div class="win_usetitle">
                <h3 class="web_title">Winners of WDealz</h3>
                <p class="web_disc">Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry.Lorem
                    Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>

            <div class="win_userlist">
                <div class="MultiCarousel" data-items="1,2,3,4" data-slide="1" id="MultiCarousel" data-interval="1000">

                    <div class="MultiCarousel-inner">
                        <div *ngFor="let item of winners" class="item">
                            <div class="win_user_bx">
                                <div class="win_userimg">
                                    <figure>
                                        <img [src]="item.winner.image" alt="">
                                    </figure>
                                </div>
                                <div class="win_usr_prizedate">
                                    <h4><span>{{item.winner.first_name}}  {{item.winner.last_name}}</span> - Winner</h4>
                                    <p>{{item.prize.name}}</p>
                                    <p class="win_date">
                                        Draw date <span>{{item.draw_date}}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary leftLst">
                        < </button>
                            <button class="btn btn-primary rightLst">></button>
                </div>
                <!-- <ul>
                    <li>
                        <div class="win_user_bx">
                            <div class="win_userimg">
                                <figure>
                                    <img src="../../../assets/images/nva-bar/win_user.png" alt="">
                                </figure>
                            </div>
                            <div class="win_usr_prizedate">
                                <h4><span>Abdul Haq</span> - Winner</h4>
                                <p>AED 1000 Cash</p>
                                <p class="win_date">
                                    Draw date <span>2/2/2019</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="win_user_bx">
                            <div class="win_userimg">
                                <figure>
                                    <img src="../../../assets/images/nva-bar/win_user.png" alt="">
                                </figure>
                            </div>
                            <div class="win_usr_prizedate">
                                <h4><span>Abdul Haq</span> - Winner</h4>
                                <p>AED 1000 Cash</p>
                                <p class="win_date">
                                    Draw date <span>2/2/2019</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="win_user_bx">
                            <div class="win_userimg">
                                <figure>
                                    <img src="../../../assets/images/nva-bar/win_user.png" alt="">
                                </figure>
                            </div>
                            <div class="win_usr_prizedate">
                                <h4><span>Abdul Haq</span> - Winner</h4>
                                <p>AED 1000 Cash</p>
                                <p class="win_date">
                                    Draw date <span>2/2/2019</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="win_user_bx">
                            <div class="win_userimg">
                                <figure>
                                    <img src="../../../assets/images/nva-bar/win_user.png" alt="">
                                </figure>
                            </div>
                            <div class="win_usr_prizedate">
                                <h4><span>Abdul Haq</span> - Winner</h4>
                                <p>AED 1000 Cash</p>
                                <p class="win_date">
                                    Draw date <span>2/2/2019</span>
                                </p>
                            </div>
                        </div>
                    </li>
                </ul> -->
            </div>
        </div>
    </div>
    <!-----windeal app download sec-->
    <!-- our certifications and partners -->

    <div class="certification_section" *ngIf="charity && charity.length>0">
        <div class="conta_iner">
            <div class="win_usetitle">
                 <h3 class="web_title">Charities</h3>
               <!-- <h3 class="web_title">Our Certifications and Partners</h3> -->
                <p class="web_disc">Windealz is proud to work with each of its partners and believes in the
                    concept of
                    working together and trust. </p>
            </div>
            <div class="certification_inner">
                <div class="MultiCarousel" data-items="1,2,3,4" data-slide="1" id="MultiCarousel" data-interval="1000">

                    <div class="MultiCarousel-inner">
                        <div *ngFor="let item of charity;let i= index" class="item">
                            <div class="certification_comman" (click)="onViewProducts(i, charity)">
                                <figure><img [src]="item.image"></figure>
                                <p>{{item.description}}</p>
                            </div>
                        </div>
                        <!-- <div class="item">
                            <div class="certification_comman">
                                <figure><img src="../../../assets/images/sahara_group.png"></figure>
                                <p>Dar Al Shariah Fatwa certifies and gives you confidence that all transaction
                                    at
                                    Windealz are
                                    Shariah Complaint</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="certification_comman">
                                <figure><img src="../../../assets/images/eco_friendly.png"></figure>
                                <p>Our products are ECO friendly. By planting W Pencils you can grow plants to
                                    support
                                    environment.
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="certification_comman">
                                <figure><img src="../../../assets/images/handshake.png"></figure>
                                <p>Windealz is recognized and approved by DED. You can trust Windealz</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="certification_comman">
                                <figure><img src="../../../assets/images/handshake.png"></figure>
                                <p>Windealz is recognized and approved by DED. You can trust Windealz</p>
                            </div>
                        </div> -->

                    </div>
                    <button class="btn btn-primary leftLst">
                        < </button>
                            <button class="btn btn-primary rightLst">></button>
                </div>
                <!-- <div class="certification_comman">
                    <figure><img src="../../../assets/images/charity.png"></figure>
                    <p>We are partnered with UNHR - we make sure all donations collected goes to the deserving folks
                        globally</p>
                </div>
                <div class="certification_comman">
                    <figure><img src="../../../assets/images/sahara_group.png"></figure>
                    <p>Dar Al Shariah Fatwa certifies and gives you confidence that all transaction at Windealz are
                        Shariah Complaint</p>
                </div>
                <div class="certification_comman">
                    <figure><img src="../../../assets/images/eco_friendly.png"></figure>
                    <p>Our products are ECO friendly. By planting W Pencils you can grow plants to support environment.
                    </p>
                </div>
                <div class="certification_comman">
                    <figure><img src="../../../assets/images/handshake.png"></figure>
                    <p>Windealz is recognized and approved by DED. You can trust Windealz</p>
                </div> -->

            </div>
        </div>
    </div>

    <!-- end here -->
    <div class="windeal_appdownload">
        <div class="conta_iner">
            <div class="win_appdwnl_bx">
                <div class="google_links_bx">
                    <h3>Download Now start Shopping </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sedLorem ipsum dolor sit amet
                        consectetur
                        adipiscing elit sed</p>
                    <div class="google_applinks">
                        <img src="assets/images/home/playstore.png" alt="">
                        <img src="assets/images/home/applestore.png" alt="">
                    </div>
                </div>
                <div class="app_imghand">
                    <figure>
                        <img src="assets/images/home/app_hand.png" alt="app_hand.png">
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <!----start footer sec-->
    <app-footer></app-footer>
</section>