<ngx-slick-carousel class="carousel" 
    #slickModal="slick-carousel" 
    [config]="slideConfig"  (init)="slickInit($event)">
<div ngxSlickItem *ngFor="let slide of product;let i= index" class="slide">
    <img src="{{ slide.image}}" alt="" style="width:200px;height:200px;">
    <h2>{{slide.name}}</h2>
    <p>{{slide.description}}
    </p>
</div>
</ngx-slick-carousel>