.right_who_are {
    width: 50%;
}
.left_who_are {
    width: 50%;
    padding-right: 50px;
}
.who_we_Are {
    display: flex;
    align-items: flex-start;
    width: 100%;
}
.who_we_Are h2{font-weight: 700;font-size: 26px;}
.who_we_Are p{color:#5c5c5c;font-size: 15px;padding: 15px 0;}