
<section class="body_warpper allcampai_page">
    <app-navbar></app-navbar>
    <!----start All Campaigns sec-->
    <div class="all_sec home_allcam_sec campainage_page_parent">
        <div class="conta_iner">

         <div class="who_we_Are">
            <div class="left_who_are">
<h2>Who we Are</h2>
<p *ngIf="whoareu" [innerHTML]="whoareu"></p> <br>

            </div> 
            <div class="right_who_are">
                <figure><img src="assets/images/who_we_are.png"></figure>
            </div> 
   </div>
   </div>
   </div>
   

    <!----start footer sec-->
    <app-footer></app-footer>
</section>



