
<section class="body_warpper allcampai_page">
    <app-navbar></app-navbar>
    <!----start All Campaigns sec-->
    <div class="all_sec home_allcam_sec campainage_page_parent">
        <div class="conta_iner">
            <div class="home_campaingns_title">
                <h3 class="web_title">Contact Us</h3>
            </div>

<div class="contact_us_outer">
<div class="map_image">
    <figure><img src="assets/images/map.jpg"></figure>
</div>

<div class="address_name">
    <h4>Box Park,<br>
        Al Wasl Rd, P.O. Box 122555<br>
        Dubai, United Arab Emirates</h4>
        <div class="email_name">
            <h3>Email: info@apptunix.com</h3>
            <h4>Telephone: 240 3335</h4>
        </div>
</div>

<div class="how_can_help">
<h3>How can we help</h3>
<div class="how_can_help_inner">
    <form name="form" #f="ngForm" (ngSubmit)="f.form.valid  && onSubmit(f)">
        <div class="inner_form_input">
        <div class="left_column_feild">
            <mat-form-field [floatLabel]="'never'">
                <input matInput type="email" class="form-control" [(ngModel)]="Email" value=""
                name="email" #email="ngModel" id="usr" placeholder="Email"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
            <div class="validation_logins" *ngIf="f.submitted && email.invalid">
                <div *ngIf="email.errors.required && status" class="alert alert-danger">Enter Your Email
                </div>
                <div *ngIf="email.errors.pattern" class="alert alert-danger">Email must be
                    a valid email address</div>
            </div>
            </mat-form-field>
        </div>
        <div class="right_column_feild">
            <mat-form-field [floatLabel]="'never'">
                <input matInput  type="text"  
                class="form-control" pattern="^[0-9]*$" #phone="ngModel" [(ngModel)]="number" value="" name="number"
                placeholder="Phone Number" minlength="5" maxlength="15" required>
                <div class="validation_logins" *ngIf="f.submitted && phone.invalid">
                    <div *ngIf="phone.errors.required && status " class="alert alert-danger"> Enter your Phone
                        Number </div>
                    <div *ngIf="phone.errors?.maxlength" class="alert alert-danger ">
                        Phone Number can be only of
                        15 digits!

                    </div>
                    <div *ngIf="phone.errors?.pattern || phone.errors?.minlength"
                        class="alert alert-danger">
                        Phone Number is invalid
                    </div>
                </div>
            </mat-form-field>    
        </div>
        </div>
        <div class="inner_form_input">
            <div class="left_column_feild">
                <mat-form-field>
                    <input   type="text" placeholder="Country" matInput id="usr"
                    (keydown.space)="$event.preventDefault()" [(ngModel)]="country" value=""
                    name="country" #Country="ngModel"  required>

                <div class="validation_logins" *ngIf="f.submitted && Country.invalid">
                    <div *ngIf="Country.errors.required && status" class="alert alert-danger"> Enter Country
                        
                    </div>
                   
                </div>
                </mat-form-field>
            </div>
       
            <div class="right_column_feild">
                <mat-form-field [floatLabel]="'never'">
                    <input  matInput type="text"  placeholder="Address"   id="usr"
                    (keydown.space)="$event.preventDefault()" [(ngModel)]="address" value=""
                    name="address" #Address="ngModel" placeholder="Address " required>

                <div class="validation_logins" *ngIf="f.submitted && Address.invalid">
                    <div *ngIf="Address.errors.required && status " class="alert alert-danger"> Enter Address
                        
                    </div> 
                </div>
                </mat-form-field>    
          
            </div>
        </div>
            <div class="inner_form_input">
               <mat-form-field [floatLabel]="'never'">
                        <textarea  matInput placeholder="Messenger" [(ngModel)]="message" value=""
                        name="message" #Message="ngModel"  required>

                        </textarea>
                        <div class="validation_logins" *ngIf="f.submitted && Message.invalid">
                            <div *ngIf="Message.errors.required  && status" class="alert alert-danger"> Enter Message
                                
                            </div>
                        </div>
                        </mat-form-field>
                      
</div>
<div class="add_cartbtn">
    <button type="submit" mat-button>CONTACT NOW</button>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
 


    <!----start footer sec-->
    <app-footer></app-footer>
</section>
