.map_image {
    width: 100%;
    margin: 40px 0;
    display: inline-block;
    vertical-align: middle;
}
.address_name h4 {
    font-size: 24px;
    font-weight: 700;
    line-height: 27px;
}
.address_name {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}
.email_name {
    display: flex;
    text-align: left;
    padding: 20px 0;
}
.email_name h3,.email_name h4 { font-size: 20px;
    font-weight : normal;padding-right: 50px;}

    .inner_form_input {
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 30px;
    }
    .left_column_feild {
        width: 50%;
        padding-right: 20px;
    }
    .right_column_feild {
        width: 50%;
        padding-left: 20px;
    }
    .inner_form_input input::placeholder{padding: 0 20px;}
    .inner_form_input input {
        border-radius: 30px;
        border: solid 1px #d1d1d1;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
        width: 100%;
        padding: 15px 18px;
       
    }
    .mat-form-field {
        display: inline-block;
        position: relative;
        text-align: left;
        width: 100%;
    }
  
    .inner_form_input textarea{  border-radius: 15px;
        border: solid 1px #d1d1d1;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
        width: 100%;
        height: 120px;
        resize: none;
        padding: 15px 18px;}
        .add_cartbtn {
            margin: 0;
        }
        .add_cartbtn button {
            padding: 7px 34px 5px 34px;
        }
        .how_can_help h3{font-size: 26px;font-weight: 800;padding: 25px 0;}
      

        .alert.alert-danger.ng-star-inserted {
            background: none;
            border: none;
            padding: 7px 15px;
            margin: 0px;
        }