html, body {height:100%;}
body {margin:0;font-family:'Montserrat',;}
* {margin:0px;padding:0px;outline:none !important;}
html {font-size:10px;scroll-behavior:smooth;}
.conta_iner {width:1180px;margin:auto;}
a:hover, a:focus {color:#00649e;text-decoration:none;}
h1, h2, h3, h4, h5, h6, p {margin:0;}
li {list-style:none;}
ul, ol {padding:0;margin:0;}
img{width: 100%;}
a {cursor:pointer;}
li.toogle_main {display:none;}
.all_sec {padding:80px 0px;}
.web_title {font-size:44px;font-weight:700;color:#000000;}
.web_disc {font-size:18px;font-weight:400;color:#9B9B9B;}
.mat-form-field-underline {display:none;}
.mat-form-field-appearance-fill .mat-form-field-infix {padding:0px !important;border:none;}
.mat-form-field-wrapper {padding-bottom:0px;}
.mat-form-field-appearance-fill .mat-form-field-flex {padding:0px !important;}
/******login page css**********/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
-webkit-box-shadow: 0 0 0px 1000px #fff inset;
transition: background-color 5000s ease-in-out 0s;
}
.login_form .mat-form-field-appearance-fill .mat-form-field-flex{background: #fff;}
.login_wrap {height:100vh;background:#FCB83F;color:#000;display:flex;justify-content:center;align-items:center;}
.login_form {background:#fff;padding:30px 24px 24px 24px;border-radius:20px;width:427px;height:auto;text-align:center;margin:20px 0;display:flex;justify-content:center;flex-direction:column;align-items:center;}
.login_form h3 {font-size:27px;font-weight:700;line-height:37px;}
.login_form h3 span {display:block;font-weight:400;font-size:25px;}
.login_main {display:flex;flex-direction:column;justify-content:center;align-items:center;}
.form-group {border:1px solid #ECECEC;overflow:hidden;border-radius:50px;margin-bottom:15px;}
button.login_eye_btn.mat-icon-button.mat-button-base {background:none;padding:0;margin:0;width:40px;position:relative;top:-8px;right:3px;}
button.login_eye_btn.mat-icon-button.mat-button-base span.mat-button-wrapper {color:#BDBDBD;font-size:16px;}
// .mat-form-field-prefix, .mat-form-field-suffix {// width:43px;// top:-4px;// }
.login_form a {width:100%;color:#000;font-size:14px;font-weight:600;text-align:center;}
.login_form a p {width:100%;color:#000;font-size:14px;font-weight:600;text-align:center;}
.login_form button {background:#FCB83F;padding:16px;border-radius:50px;margin:10px 0 21px;width:100%;border:none;font-size:16px;color:#fff;}
ul.connection_img {display:flex;justify-content:space-between;align-items:center;width:90%;margin:auto;margin-top:15px;margin-bottom:15px;}
.login_main .formn_group_main {margin:40px 0 16px;}
p.signupp {
    color: #fff;
}

/***********verfification*/
.login_form h4 {font-size:20px;font-weight:bold;}
p.verification {margin:30px 0 15px;font-size:15px;width:100%;}
p.verification_light {color:#8B8B8B;margin-bottom:22px;text-align:left;width:88%;text-align:center;}
p.verification span {font-weight:bold;}
.login_main form {width:100%;}
.forget_password .login_form {justify-content:space-between;}
.verification_left {width:100%;}
form.forget_input {margin-top:40px;}
/***sign_up***/
.half {display:flex;justify-content:space-between;align-items:center;}
.half .form-group {width:47%;}
.user_profile_img {background:#FCFCFC;border:1px solid #EAEAEA;width:135px;height:135px;border-radius:100px;margin:auto;overflow:hidden;display:flex;justify-content:center;position:relative;align-items:flex-end;}
.profile_camera img {width:auto;height:auto;}
.profile_camera {background:#FCB83F;height:27px;width:27px;border-radius:100px;display:flex;justify-content:center;align-items:center;margin:auto;position:relative;bottom:34px;}
.signup .formn_group_main {margin:0;}
.user_profile {margin-top:35px;}
p.signupp a {font-weight:bold;color:#fff;cursor:pointer;}
p.social_text {
    font-size: 14px;
    font-weight: 500;
}
/****login new changes 2-3-2020******/
.login_form input.mat-input-element {padding:18px;}
.login_form .mat-form-field {width:100%;}
.login_form .mat-form-field-appearance-legacy .mat-form-field-label {top:0;padding:18px;}
/*****start home page css*********/
.home_banner {height:600px;display:flex;align-items:center;justify-content:center;overflow:hidden;position:relative;}
.home_banner:before {content:'';width:430px;height:410px;background:#FFCD74;position:absolute;right:0;z-index:-1;top:0;}
/*****win prize sec*********/
.home_winprize_list ul {display:flex;justify-content:space-between;align-items:stretch;flex-wrap:wrap;}
.home_winprize_list ul li {width:49%;box-shadow:0px 0px 30px #00000026;padding:2rem;border-radius:24px;height:268px;margin-bottom:2rem;}
.home_winprize_bx {display:flex;justify-content:space-between;align-items:center;height:100%;position:relative;}
.home_prizeimg {width:50%;height:150px;display:flex;align-items:center;overflow:hidden;justify-content:center;}
.home_prizedisc {width:48%;}
.home_prizeimg img {width:100%;height:100%;object-fit:contain;}
.prize_disc_text h3 {font-size:21px;font-weight:600;color:#000000;}
.prize_disc_text h3 span {display:block;font-size:26px;font-weight:900;color:#000000;padding:7px 0;}
.prize_disc_text p {font-size:19px;font-weight:400;color:#000000;}
.winprize_progressbar {margin-top:2rem;}
.winprize_progressbar .mat-progress-bar {height:17px;width:100%;border-radius:50px;}
.winprize_progressbar .mat-progress-bar-buffer {background-color:#F2EEEE;}
.winprize_progressbar .mat-progress-bar-fill::after {background-color:#30C505;}
.fav_icon {position:absolute;right:0;top:0;}
.fav_icon i {font-size:29px;}
/******start All Campaigns sec css*************/
.home_campaingns_title {text-align:center;}
.home_campaingns_title .web_disc {width:73%;margin:0px auto;padding-top:10px;}
/*****start all campaigns ul list********/
.all_campaingns_product {margin-top:8rem;}
.all_campaingns_product ul {display:flex;justify-content:space-between;align-items:stretch;flex-wrap:wrap;}
.all_campaingns_product ul li {width:100%;margin-bottom:5rem;}
.all_camproduct_bx {display:flex;justify-content:space-between;align-items:center;}
.all_camproduct_img {width:49%;position:relative;}
.all_camproduct_disc {width:48%;position:relative;}
.all_camproduct_text h3 {font-size:22px;font-weight:400;color:#000000;font-family: 'Muli', sans-serif;}
.all_camproduct_text span {font-size:35px;font-weight:500;color:#000000;}
.all_camproduct_text p {font-size:18px;font-weight:400;color:#9B9B9B;}
.campa_product_price {margin:2rem 0px;}
.campa_product_price p {font-size:15px;font-weight:700;color:#000000;}
.campa_product_price p span {font-size:12px;font-weight:400;color:#000000;display:block;}
.campa_product_price h4 {font-size:28px;font-weight:700;color:#000000;line-height:normal;margin-top:13px;}
.camp_addquienty {display:flex;justify-content:flex-start;align-items:center;width:fit-content;}
.camp_addquienty button {width:40px;height:40px;background:#CCCCCC;border:none;border-radius:50px;color:#ffff;font-size:24px;display:flex;justify-content:center;align-items:center;}
.camp_addquienty .mat-form-field {width:42px;margin:0 12px;}
.mat-form-field-appearance-legacy .mat-form-field-underline {height:1px;display:none;}
.mat-form-field-appearance-legacy .mat-form-field-infix {padding:0px;border:none;}
.mat-form-field-appearance-legacy .mat-form-field-wrapper {padding-bottom:0px;}
.camp_addquienty input.mat-input-element {margin-top:-.0625em;display:flex;justify-content:center;text-align:center;font-size:24px;color:#000;font-weight:500;}
.camp_addcart {display:flex;justify-content:flex-start;align-items:center;}
.add_cartbtn {margin-left:3rem;}
.add_cartbtn button {background:#FCB83F;padding:5px 42px;border-radius:70px;}
.add_cartbtn button span {font-size:18px;font-weight:400;color:#fff;}
.mat-form-field-label-wrapper {position:unset !important;padding:0px;}
.camp_addquienty .mat-form-field-appearance-legacy .mat-form-field-label {top:0;font-size:24px;color:#000;font-weight:500;text-align:center;}
.all_camproduct_img figure {width:100%;height:430px;overflow:hidden;display:flex;justify-content:center;align-items:center;}
.all_camproduct_img figure img {width:100%;height:100%;object-fit:contain;}
.all_camproduct_img::before {content:" ";height:400px;width:100%;background:#F0F0F0;position:absolute;left:-63%;z-index:-1;}
.all_campaingns_product ul li:nth-child(2n) .all_camproduct_bx {flex-direction:row-reverse;}
.all_campaingns_product ul li:nth-child(2n) .all_camproduct_img::before {right:-62%;left:unset;}
.all_campaingns_product ul li:last-child {margin-bottom:0px;}
.product_sold_progress {height:auto;position:absolute;right:-7px;top:0;text-align:center;}
.all_camproduct_text {width:74%;}
.all_camproduct_text span strong {margin-right:17px;}
.product_progress_icon figure {display:flex;justify-content:center;align-items:center;}
.product_progressbar {width:64%;position:absolute;bottom:36px;z-index:-1;margin:0px auto;right:26px;height:83px;display:flex;justify-content:center;align-items:flex-end;}
.product_progress_height {display:flex;width:100%;}
.product_progress_icon {position:relative;}
 .product_progress_icon svg {width:160px;height:178px;}
.product_sold_status {position:absolute;text-align:center;width:100%;top:18px;}
.product_sold_status p {text-transform:uppercase;font-weight:500;font-size: 12px;}
.product_sold_status h4 {
font-size: 16px;
}
/******win user detail*************/
.win_usetitle {text-align:center;}
.win_usetitle .web_disc {width:73%;margin:0px auto;padding-top:10px;}
.win_userlist {margin-top:6rem;display: flex;}
.win_userlist ul {display:flex;justify-content:flex-start;align-items:stretch;flex-wrap:wrap;}
.win_userlist ul li {width:24%;margin-right:15px;}
.win_user_bx {display:flex;flex-wrap:wrap;justify-content:center;}
.win_userimg {width:100%;height:280px;overflow:hidden;display:flex;justify-content:center;align-items:center;}
.win_usr_prizedate {width:100%;text-align:center;padding:1rem;margin-top:10px;}
.win_usr_prizedate h4 {font-size:18px;font-weight:900;color:#000000;}
.win_usr_prizedate p {font-size:18px;font-weight:400;color:#000000;padding:2px 0px;}
p.win_date {padding:0px;}
.win_userlist ul li:last-child {margin-right:0px;}
/******app download sec css*********/
.windeal_appdownload {margin-top:80px;background:#3C3C3C;}
.win_appdwnl_bx {display:flex;justify-content:space-between;align-items:stretch;height:570px;}
.google_links_bx {width:48%;display:flex;flex-direction:column;justify-content:center;}
.app_imghand {width:48%;display:flex;align-items:flex-end;justify-content:center;}
.google_links_bx h3 {font-size:67px;font-weight:700;color:#FFFFFF;line-height:77px;}
.google_links_bx p {font-size:16px;font-weight:400;color:#FFFFFF;padding:20px 0;line-height:27px;}
.google_applinks {display:flex;justify-content:flex-start;align-items:flex-start;}
.google_applinks img {margin-right:14px;max-width:100%;max-height:100%;display:flex;justify-content:center;align-items:center;object-fit:contain;}
/*****product detail page*********/
.all_camproduct_bx.single_product_sec .all_camproduct_img::before {content:unset;}
.all_camproduct_bx.single_product_sec .all_camproduct_img {box-shadow:0px 13px 25px #00000021;}
p.product_disc {font-size:24px;font-weight:500;color:#2A2A2A;}
span.product_disc_para {font-size:13px !important;font-weight:400;color:#656565;    padding-top: 7px;
    display: block;}
/***start product prize description*************/
h3.prize_detail_text {font-size:32px;font-weight:700;color:#000000;}
.product_full_disc {margin-top:2rem;}
.product_disc_prizebx {display:flex;justify-content:space-between;align-items:stretch;}
.product_specfication {margin-top:3rem;}
.product_specfication h4 {font-size:18px;font-weight:500;color:#2A2A2A;}
.product_specfication ul {margin-top:2rem;}
.product_specfication ul li {display:flex;justify-content:space-between;align-items:center;margin-bottom:9px;}
.product_disc_sec {width:49%;}
.product_win_pizeimg {width:46%;}
.product_win_pizeimg figure {height:397px;overflow:hidden;width:100%;justify-content:center;display:flex;align-items:center;}
.product_win_pizeimg figure img {width:100%;height:100%;object-fit:contain;}
/*****cart page css*******/
.top_page_title h3 {font-size:44px;font-weight:700;color:#000000;text-transform:capitalize;}
.all_sec.top_page_title {padding:60px 0px;}
.cart_product_aside {display:flex;justify-content:space-between;align-items:flex-start;}
.allcart_product_bx {width:57%;}
.cart_paynow_bx {width:40%;}
.allcart_product_bx ul {width:100%;}
.allcart_product_bx ul li {width:100%;box-shadow:0 0px 19px #00000024;border-radius:10px;overflow:hidden;margin-bottom:2rem;}
.cart_addproduct_bx {display:flex;justify-content:flex-start;align-items:stretch;padding:2rem;position:relative;}
.cart_product_img {width:26%;overflow:hidden;border:1px solid #E2E2E2;display:flex;justify-content:center;align-items:center;}
.cart_product_img figure {width:100%;display:flex;justify-content:center;align-items:center;}
.cart_product_img figure img {max-width:100%;height:100%;object-fit:contain;}
.cart_product_disc {width:60%;margin-left:44px;}
.cart_product_disc h3 {font-size:22px;font-weight:400;color:#434343;}
.cart_product_disc h3 span {display:block;line-height:34px;}
.cart_product_disc p {font-size:20px;font-weight:700;color:#000000;padding:4px 0;}
.cart_product_disc .camp_addquienty {margin-top:12px;}
.cart_product_disc .camp_addquienty button {background:#000000;}
/*****cart ticket css ******/
.cart_ticket_sec {background:#FCB83F;padding:1rem;display:flex;justify-content:flex-start;align-items:center;}
.cart_ticket_units p {font-size:14px;font-weight:700;color:#FFFFFF;}
.cart_ticket_units span {font-size:13px;color:#FFFFFF;font-weight:400;}
.cart_ticket_units {margin-left:10px;}
.cart_ticket_icon svg {height:28px;width:28px;display:flex;justify-content:center;align-items:center;}
.close_btn {position:absolute;right:24px;bottom:0;display:flex;justify-content:flex-end;align-items:center;height:100%;cursor:pointer;}
.close_btn svg {width:18px;height:18px;}
.cart_donate_bx {box-shadow:0 3px 5px #00000033;padding:2rem;}
/*****start donate sec******/
.cart_donate_bx p {font-size:14px;font-weight:400;color:#000000;}
.cart_donate_btn {margin-top:18px;}
.cart_donate_btn {display:flex;justify-content:space-between;align-items:stretch;}
.cart_donate_btn button {padding:14px 16px;width:47%;display:flex;justify-content:center;align-items:center;background:none;border:1px solid #FCB83F;border-radius:50px;font-size:15px;font-weight:600;color:#FCB840;}
.cart_donate_btn button span {display:flex;justify-content:center;align-items:center;margin-right:14px;}
.cart_donate_btn button span svg {width:24px;height:24px;}
.cart_donate_btn button span svg path {fill:#FCB83F;}
.cart_donate_btn .donate_active {background:#FF3B3B;color:#fff;}
.cart_donate_btn .donate_active span svg path {fill:#fff;}
.earn_points {background:#FCB83F;margin-top:2rem;display:flex;justify-content:flex-start;align-items:center;padding:1rem;border-radius:6px;}
.earn_points svg {width:30px;height:30px;margin-right:11px;}
.earn_points p {font-size:17px;font-weight:400;color:#FFFFFF;}
.earn_points p span {font-weight:700;font-size:18px;}
/*****address sec css********/
.address_select_sec {margin-top:3rem;margin-bottom:4rem;display:none;transition:500ms;}
.cart_add_Addresslist ul {width:100%;margin-top:2rem;}
.cart_add_Addresslist ul li {box-shadow:0px 3px 6px #00000040;padding:15px;border-radius:5px;position:relative;margin-bottom:2rem;}
.cart_add_Addresslist ul li:last-child {margin-bottom:0px;}
.one_address_bx p {font-size:18px;font-weight:400;color:#434343;}
.one_address_bx p span {margin-left:4px;}
.one_address_bx p span:first-child {margin-left:0px;}
.house_no_cart {margin-left:4px !important;}
.road_no_cart {margin-left:4px !important;}
.address_radio_btn {position:absolute;right:7px;top:0;height:100%;display:flex;justify-content:center;align-items:center;}
.address_radio_btn .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {border-color:#B2B2B2;}
.address_radio_btn .mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {background-color:#fcb83f}
.address_btn_cart {margin-top:3rem;width:100%;}
.address_btn_cart button {width:100%;background:none;border:1px dashed #FCB83F;padding:16px 9px;border-radius:25px;font-size:16px;font-weight:400;color:#000000;}
/*****promo code sec******/
.cart_promocode {margin-top:4rem;display:flex;justify-content:space-between;align-items:stretch;border:1px solid #E2E2E2;border-radius:5px;padding:1rem;}
.cart_promocode input.mat-input-element {margin-top:0px;padding:12px;font-size:16px;font-weight:400;color:#C4C4C4;}
.cart_promocode .mat-form-field {width:75%;}
.cart_promocode .mat-form-field-appearance-legacy .mat-form-field-label {top:0 !important;padding:12px;font-size:16px;font-weight:400;color:#C4C4C4 !important;}
.cart_promocode button {background:#6BC700;font-size:16px;font-weight:400;color:#fff;border:none;width:22%;border-radius:5px;}
/***sub total price bill sec********/
.cart_subtoatl_sec {margin-top:5rem;}
.cart_subtotal_pricebill ul {width:100%;}
.cart_subtotal_pricebill ul li {width:100%;display:flex;justify-content:space-between;align-items:center;margin-bottom:6px;}
.cart_subtotal_pricebill ul li h5 {font-size:21px;font-weight:400;color:#919191;text-transform:capitalize;font-family:'Nunito Sans',;}
.cart_subtotal_pricebill ul li p {font-size:20px;color:#434343;font-weight:400;font-family:'Nunito Sans',;}
/********grand total sec********/
.grand_total_sec {box-shadow:0px 3px 6px #00000040;padding:15px;margin-top:3rem;display:flex;justify-content:space-between;align-items:center;}
.grand_total_sec p {font-size:25px;font-weight:400;color:#000000;}
.grand_total_sec p span {display:block;}
.grand_total_sec button {background:#6BC700;font-size:17px;font-weight:400;color:#fff;border:none;padding:16px 14px;border-radius:5px;text-transform:capitalize;font-family: 'Nunito Sans' !important;}
/******start popup css******/
.add_addres_bx {position:absolute;width:100%;height:100vh;display:flex;justify-content:center;align-items:center;top:0;left:0;background:#00000052;position:fixed;}
.cart_add_address {display:none;}
.add_address_input ul {width:100%;}
.add_address_input ul li {width:100%;}
.add_address_input ul li label {width:100%;margin-bottom:9px;}
.close_btn_address a {font-size:40px;}
.add_addess_inner {background:#fff;padding:2rem;position:relative;}
.add_addess_inner h3 {font-size:22px;font-weight:700;color:#000000;}
.add_address_input {margin-top:3rem;}
.add_address_input ul li {width:100%;margin-bottom:10px;}
.add_address_input ul li .mat-form-field {width:100%;}
.add_address_input ul li input.mat-input-element {margin-top:0px;padding:5px;border-bottom:1px solid #ccc;font-size:16px;font-weight:400;color:#434343;}
.add_address_input ul li label {color:#919191;font-size:16px;font-weight:400;}
.add_address_input ul li .mat-form-field-appearance-legacy .mat-form-field-label {top:0 !important;padding:5px;font-size:16px;font-weight:400;color:#434343;}
.submit_address_btn button {background:#FFCB08;width:100%;border:none;padding:13px 10px;font-size:16px;font-weight:400;text-transform:capitalize;color:#000000;border-radius:25px;margin-top:16px;}
.close_btn_address {position:absolute;right:-18px;top:-47px;}
/*****pay now ********/
.paynow_innerbx {display:flex;justify-content:space-between;align-items:flex-start;}
.pay_selectpayment_sec {width:56%;}
.cart_bill_sec {width:40%;margin:0px;}
.pay_selectpayment_sec ul {width:100%;}
.pay_selectpayment_sec ul li {width:100%;margin-bottom:2rem;}
.windeal_wallet_bx {display:flex;justify-content:space-between;align-items:center;}
.paynow_left {width:92%;}
.paynow_right {width:7%;display:flex;justify-content:flex-end;align-items:center;}
.windeal_wallet_collection {display:flex;justify-content:flex-start;align-items:center;}
.windeal_wallet_collection figure {margin-right:17px;}
.windeal_wallet_collection p {font-size:15px;font-weight:600;color:#000000;}
.windeal_wallet_collection p span {display:block;font-size:23px;font-weight:600;}
.wallet_border {box-shadow:0 0px 6px #00000021;border-radius:5px;padding:1rem;}
/*****credit card screen sec*******************/
.credit_card_screen {background:rgb(225,0,255);background:linear-gradient(0deg, rgba(225,0,255,1) 0%, rgba(10,0,255,1) 100%);padding:15px;border-radius:10px;}
.credit_card_screen {display:flex;justify-content:space-between;align-items:flex-start;}
.card_user_info {width:70%;}
.credit_card_cvv {width:30%;display:flex;flex-direction:column;align-items:flex-end;}
h3.cardholder_name {font-size:20px;font-weight:400;color:#fff;}
.card_user_info p {font-size:14px;color:#fff;font-weight:400;padding:9px 0;}
.card_user_info p span {margin-left:16px;}
.card_user_info h4 {font-size:21px;color:#fff;display:flex;align-items:baseline;}
.credit_card_cvv figure {width:80px;height:50px;display:flex;align-items:center;justify-content:center;overflow:hidden;}
.credit_card_cvv figure img {max-width:100%;max-height:100%;object-fit:contain;}
.credit_card_cvv .mat-form-field {width:80px;margin-top:7px;}
.credit_card_cvv input.mat-input-element {margin-top:0px;padding:5px;font-size:16px;font-weight:400;color:#434343;background:#fff;}
// .credit_card_cvv label {color:#919191;font-size:16px;font-weight:400;}
.credit_card_cvv .mat-form-field-appearance-legacy .mat-form-field-label {top:0 !important;padding:5px;font-size:16px;font-weight:400;color:#434343;}
.paynow_right .mat-radio-label-content {padding-left:0px !important;}
.paynow_radionbtn.paynow_right {padding-right:1rem;}
.add_card_btn {display:flex;justify-content:flex-start;align-items:center;}
.add_card_btn p {font-size:15px;font-weight:400;color:#000000;text-transform:capitalize;
display: flex;
justify-content: flex-start;
align-items: center;
}
.ngx-select_countrycode button.ngx-dropdown-button {
    border-radius: 10px !important;
 margin-top: 0px !important;
}
.add_card_btn p span {margin-right:10px;}
.paynow_right .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {border-color:#707070;}
.paynow_right .mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {background-color:#6bc700;}
// .add_card_btn p span i {
// color: #626262;
// font-size: 20px;
// }
/*****order confiramtion order**********/
.order_confirmation_posdiv {width:100%;height:100vh;position:fixed;top:0;bottom:0;left:0;display:flex;justify-content:center;align-items:center;background:#000000a6;}
.order_confirmation_bx {background:#fff;padding:2rem;height:400px;width:26%;}
.got_it_icon {display:flex;justify-content:center;align-items:center;width:160px;background:#ccc;height:160px;border-radius:50%;margin:0px auto;}
.order_confirmation_text h3 {font-size:30px;font-weight:400;color:#000000;text-transform:capitalize;text-align:center;margin:16px 0px;}
.order_confirmation_text p {font-size:14px;font-weight:400;color:#000000;text-align:center;margin-bottom:3rem;}
.order_confirmation_text p span {display:block;}
.order_confirmation_text button {margin-top:2rem;background:#000000;margin:0px auto;display:flex;justify-content:center;align-items:center;color:#fff;font-size:16px;padding:9px 91px;border-radius:25px;}
.order_confirmation_popup {display:none;}
/******profile page every tab pages css*******//****profile**/
.prfile_left {background:#F8F8F8;width:29%;padding:30px;min-height:407px;}
.profile_main {display:flex;justify-content:space-between;align-items:flex-start;}
.profile_main .nav-tabs.nav-justified {width:100%;border-bottom:0;display:flex;margin-top:40px;flex-direction:column;}
.profile_main .user_profile {display:flex;justify-content:flex-start;align-items:center;margin-top:0;position:relative;}
.profile_main .user_profile h4 {color:#000000;font-size:16px;line-height:22px;margin-left:20px;font-weight:bold;}
.profile_main .user_profile h4 span {display:block;font-size:13px;font-size:13px;font-weight:normal;}
.profile_main .user_profile_img {width:73px;height:73px;margin:unset;}
 .profile_main .nav-tabs.nav-justified>li {display:table-cell;width:100%;text-align:left;}
 .profile_main .nav-tabs.nav-justified>li>a {border-bottom:none;border-radius:0;text-align:left;color:#000;}
 .profile_right {width:68%;box-shadow:0 15px 39px 0 rgba(0, 0, 0, 0.2);background:#fff;}
 .profile.title_bar h2 span {display:block;font-weight:normal;font-size:14px;}
 .profile.title_bar h2 {line-height:33px;}
 .profile_main .profile_right .user_profile_img {width:93px;height:93px;}
 .profile_main .profile_right .profile_camera {margin:unset;position:absolute;bottom:7px;left:33px;width:25px;height:25px;}
 .profile_main .profile_right .profile_camera img {width:auto;height:auto;}
 .profile_main .profile_right button {color:#fff;font-size:16px;background:#FCB83F;border:none;padding:14px 55px;border-radius:100px;}
 .profile_main .profile_right .form-group {border:1px solid #D9D9D9;border-radius:0;margin-bottom:15px;}
 .profile_main .profile_right label {color:#000;font-size:14px;font-weight:bold;}
 .profile_main .profile_right .mat-form-field-empty.mat-form-field-label {font-weight:normal;}
 .grey_line {background:#EBEBEB;margin:23px 0 30px;width:100%;height:1px;}
 .form-control {border:none;box-shadow:none;padding:0;height:auto;width:100%;}
 .adre_main {display:flex;box-shadow:0 13px 25px #00000014;background:#fff;margin-bottom:15px;flex-direction:column;border-radius:5px;}
 .addres_main {display:flex;justify-content:space-between;align-items:stretch;}
 .address_left {width:48%;border-right:1px solid #EDEDED;padding:2rem;}
 .address_right {width:50%;padding-top:2rem;padding-right:2rem;padding-bottom:2rem;}
 .adres_bottom a {color:#000;font-size:14px;font-weight:normal;}
 .adres_bottom {display:flex;justify-content:space-between;align-items:center;border-top:1px solid #F7F7F7;padding:15px;}
 .adres_bottom a.span_red {color:#E30606;font-weight:normal;}
 .adre_main address {color:#434343;font-size:18px;left:25px;font-weight:normal;}
 // .payment_content .address_left li figure {height:145px;width:100%;}
 .payment_content .address_right h4 {font-size:25px;margin-bottom: 10px;}
 // .mat-input-element {padding:14px!important;}
 .order_detail_left h3 {color:#310600;font-size:23px;font-weight:normal;}
 .order_detail_left h3 span {display:block;color:#020202;font-size:11px;margin:11px 0;}
 .order_detail_left {display:flex;justify-content:space-between;align-items:center;padding:13px;}
 .order_detail_right h4 span {color:#D0D0D0;font-size:12px;font-weight:bold;display:block;}
 .order_detail_right h4 {color:#000000;font-size:14px;width:50%;padding:13px;border-top:1px solid #E5E5E5;line-height:23px;}
 .order_detail_right {display:flex;justify-content:space-between;align-items:center;}
 .mat-tab-body-content {height:100%;padding:20px 0;overflow:hidden;}
 ul.order_detail li {border:1px solid #E5E5E5;border-top:1px solid #E5E5E5;border-radius:6px;margin-bottom:30px;}
 .order_detail_right h4.blue_color {border-left:1px solid #E5E5E5;color:#05599A;}
 h4.yellow_color {color:#F9C848;}
 h4.green_color {color:#6DD400;}
 ul.approved_ordder li {padding-bottom:50px;position:relative;z-index:1;}
 ul.approved_ordder li:before {content:"";border-left:2px dotted #FFCB08;position:absolute;left:14px;height:100%;z-index:-1;top:25px;}
 .aproved_order_main {display:flex;justify-content:start;align-items:center;align-items:flex-start;}
 .approved_order_inner {background:#FFCB08;height:32px;width:32px;border-radius:100px;display:flex;justify-content:center;align-items:center;}
 .approved_order_inner2 {background:#E8B530;height:12px;width:12px;border-radius:100px;}
 .approved_order_right h5 {color:#000;font-size:16px;margin-top:7px;line-height:29px;}
 .approved_order_right h5 span {display:block;color:#646464;}
 .order_detail_wrap .orderdetail_left {width:47%;}
 .orderdetail_main {display:flex;justify-content:space-between;align-items:flex-start;}
 .order_detail_wrap .orderdetail_right {box-shadow:0 0 25px 0 rgba(0, 0, 0, 0.1);background:#fff;width:48%;padding:50px 30px;}
 .order_detail_wrap .order_detail_left {padding:0;align-items:flex-start;flex-direction:column;width:60%;}
 .order_detail_wrap .order_detail_content {display:flex;justify-content:space-between;align-items:center;}
 .order_detail_wrap .order_detail_right h4.blue_color {border-left:none;font-size:17px;text-align:right;width:100%;border-top:none;}
 .bill_detail li {display:flex;justify-content:space-between;align-items:center;}
 .order_detail_wrap .orderdetail_left li h3 {color:#000000;font-size:18px;margin-top:20px;}
 ul.item_total li {display:flex;justify-content:space-between;align-items:center;}
 ul.approved_ordder h4 {color:#000;font-weight:bold;font-size:18px;margin-bottom:25px;}
 .approved_order_right h3 {color:#000;font-weight:bold;font-size:18px;}
 .approved_order_right h3 span {font-weight:normal;margin-left:20px;}
 .approved_order_left {margin-right:17px;}
 ul.get_help {background:#FAFBFC;display:flex;justify-content:space-between;align-items:center;height:66px;}
 ul.get_help li {text-align:center;width:50%;}
 ul.get_help li a {color:#868B90;font-size:18px;font-weight:600;}
 .addres_main.two {align-items:center;}
.border_right_order {background:#F0F0F1;width:2px!important;height:66px;}
 ul.approved_ordder li:last-child::before {content:unset;}
 .order_detail_wrap .order_detail_left ul {display:flex;justify-content:space-between;align-items:center;}
 .order_detail_wrap .orderdetail_left button {background:#E02020;border:none;color:#fff;padding:17px 220px;border-radius:100px;font-size:18px;width:100%;}
 ul.item_total {border-top:1px solid #F0F0F0;border-bottom:1px solid #F0F0F0;padding:16px 0;margin:0px 0 38px;}
// ul.item_total li:last-child h3 {font-size:19px;font-weight:600;}
ul.item_total li:last-child h3.extrabold_order {font-size:26px;}
p.orderdetail_p {color:#111111;font-size:15px;text-align:left;width:60%;margin-top:15px;}
.order_detail_wrap .order_detail_right h4 span {color:#000;font-size:18px;font-weight:normal;}
ul.bill_detail h4 {color:#000;font-weight:bold;font-size:18px;}
ul.bill_detail {border-top:1px solid #F0F0F0;margin:17px 0 0;padding:30px 0;}
.breadcrumb {padding:0;list-style:none;background:none;border-radius:0;margin:30px 0;}
.profile_wrap .title_bar {border-bottom:none;padding:2rem;padding-bottom:0;}
.profile_wrap .nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {border-bottom-color:#ddd;}
.profile_right .mat-tab-label-content {color:#000;font-size:21px;margin-bottom:20px;font-weight:normal;}
.profile_right .mat-tab-label {padding:0;}
.profile_right .mat-tab-body-content {padding:30px 0 0;}
.approved_order_right h4 {
    margin-bottom: 0px !important;
}
/****profile sec new changes**********/
.formn_group_main .mat-form-field {width:100%;}
.formn_group_main input.mat-input-element {padding:18px;}
.formn_group_main .mat-form-field-appearance-legacy .mat-form-field-label {top:0px;padding:18px;font-size: 16px;
    color: #D3D3D3;}
.user_profile_img figure {display:flex;justify-content:center;align-items:center;height:100%;width:100%;}
.user_profile_img img {max-width:100%;max-height:100%;object-fit:contain;display:flex;justify-content:center;align-items:center;}
.profile_main .user_profile_img {width:73px;height:73px;margin:unset;}
.user_profile_img {background:#FCFCFC;border:1px solid #EAEAEA;width:135px;height:135px;border-radius:100px;margin:auto;overflow:hidden;display:-webkit-box;display:flex;-webkit-box-pack:center;justify-content:center;position:relative;-webkit-box-align:end;align-items:flex-end;}
.view_user_profile .user_profile {
margin-bottom: 20px;
}
.prfile_left ul li a:active {
border: unset !important;
background: #ffff !important;
}
.prfile_left ul li a:focus {
border: unset !important;
background: #ffff !important;
}
/*****paymnet tab section page screen css***********/
.payment_screen .card_user_info {width:68%;}
.payment_screen .card_user_info h4 {font-size:11px;}
h5.cvv_number {color:#fff;font-size:21px;margin:0px auto;}
.payment_screen ul li {margin-bottom:15px;}
.payment_screen .paynow_left {width:100%;}
.payment_screen .cardholder_name {font-size:15px;}
.payment_screen .card_user_info p {font-size:11px;}
.grey_line.payment_grey_line {margin:24px 0 0;}
.payment_sec_main {
display: flex;
justify-content: space-between;
align-items: stretch;
}
.payment_expirydate_sec {
width: 64%;
}
.payment_cvv_sec {
width: 34%;
}
 /******profile address section page change css*********/ 
 .one_address_bx.adres_top {padding:15px;}
 .address_right .formn_group_main {margin:0px;}
 form.user_profile_tab {padding:2rem;padding-top:0px;}
 .profile_right .mat-tab-labels {padding:2rem;padding-bottom:0px;}
 ul.order_detail {padding:2rem;padding-top:0px;}
 .profile_wrap {margin-bottom:80px;}
 .order_detail_wrap {margin-bottom:80px;}
 /******footer sec css**********/

 .trusted_product_sec ul {display:flex;justify-content:flex-start;align-items:flex-start;}
 .trusted_product_sec ul li:first-child {display:unset;}
 .trusted_product_sec ul li {display:flex;}
 .trusted_product_sec ul li {display:flex;justify-content:flex-start;align-items:center;width:24%;margin-right:10px;}
 .trusted_pro_icon {margin-right:15px;}
 .trusted_product_sec ul li:last-child {margin-right:0px;}
 .trusted_product_sec ul li h3 {font-size:19px;color:#000000;font-weight:700;}
p.footer_top_main {font-size:14px;font-weight:400;color:#6F6F6F;margin-top:7px;}
.trusted_pro_disc p {font-size:14px;font-weight:500;color:#000000;text-transform:capitalize;}
.trusted_pro_disc span {font-size:13px;color:#3B3B3B;font-weight:400;}
/*****footer sec**********/
.footer_sec {padding:6rem 0;}
.footer_sec_list {display:flex;justify-content:flex-start;align-items:flex-start;}
.footer_comman {width:20%;}
h3.footer_title {font-size:18px;font-weight:700;color:#000;}
.footer_comman ul li a {font-size:14px;color:#000000;font-weight:400;}
.footer_comman ul li {margin-bottom:7px;}
.address_text p {font-size:14px;font-weight:600;color:#000;}
.address_text span {font-size:12px;font-weight:400;color:#272727;margin-top:4px;display:block;}
.footer_address ul li {display:flex;justify-content:flex-start;align-items:center;}
.address_icon {margin-right:12px;}
.address_text label {font-weight:900;font-size:14px;margin-bottom:0;color: #000000;}
.footer_address.footer_comman ul {margin:0px;}
.footer_sec {    padding: 6rem 0 2rem;border-bottom:1px solid #EFEFEF;}
.footer_bottom_sec p {font-size:14px;font-weight:400;color:#000000;text-align:center;}
.footer_bottom_sec {padding:2rem 0px;}
.footer_comman ul li:last-child {margin-bottom:0px;}
.footer_com_logo {
    margin-top: -13px;
}
/****mini top header******/
.cart_title p {
font-size: 14px;
font-weight: 600;
color: #000000;
text-transform: capitalize;
}
section.top_hedaer_currency {background:#4D4D4D;padding:10px;}
.top_social_bx {display:flex;justify-content:space-between;align-items:center;}
.header_select_cuurency {display:flex;justify-content:flex-start;align-items:center;width:50%;}
.currency_select_bx label {color:#fff;}
.currency_select_bx select {color:#fff;padding:0px !important;font-size:14px;font-weight:400;}
.currency_select_bx .mat-form-field-type-mat-native-select .mat-form-field-infix::after {color:#fff;}
.currency_select_bx .mat-form-field {width:90px;margin-left:20px;}
.header_select_cuurency a {font-size:16px;font-weight:400;color:#fff;margin-left:20px;}
.header_aboutpages a {margin-left:22px;color:#fff;font-weight:400;font-size:14px;}
.all_sec.home_allcam_sec {overflow:hidden;}
/****start responsive*********/
@media(max-width:1500px) {
/*****start homepage css*************/
.top_navpages ul li a {
font-weight: 600 !important;
}
.home_winprize_list ul li {height:220px;}
.prize_disc_text h3 {font-size:18px;}
.prize_disc_text h3 span {font-size:22px;}
.prize_disc_text p {font-size:15px;font-weight: 600;}
.web_title {font-size:32px;}
.web_disc {font-size:14px;}
.all_camproduct_text h3 {font-size:18px;font-weight: 600 !important;}
.all_camproduct_text span {font-size:28px;}
.all_camproduct_text p {font-size:15px;}
.campa_product_price h4 {font-size:24px;}
.camp_addquienty span {position:relative;top:-1px;}
.camp_addquienty button {width:28px;height:28px;}
.camp_addquienty input.mat-input-element {font-size:20px;}
.camp_addquienty .mat-form-field-appearance-legacy .mat-form-field-label {font-size:20px;}
.camp_addquienty .mat-form-field {width:20px;}
.win_usr_prizedate h4 {font-size:17px;font-weight:700;}
.win_usr_prizedate p {font-size:15px;}
.google_links_bx h3 {font-size:50px;line-height:69px;}
.google_links_bx p {font-size:15px;padding:18px 0;}
/*****product detail page css***********/
h3.prize_detail_text {font-size:26px;}
// .product_full_disc {margin-top:1rem;}
p.product_disc {font-size:20px;    font-weight: 600;}
.product_win_pizeimg figure img {width:34%;}
.product_win_pizeimg figure {height:278px;}
.cart_product_disc h3 {font-size:16px;}
.all_sec.top_page_title {padding:40px 0px;}
.top_page_title h3 {font-size:35px;}
.earn_points p {font-size:15px;}
.one_address_bx p {font-size:15px;}
.cart_subtotal_pricebill ul li h5 {font-size:18px;}
.grand_total_sec p {font-size:20px;font-weight: 600;}
.grand_total_sec button {font-size:15px;}
/*****top nav bar******/
section.top_header_main{
padding: 10px 0;}
.all_sec {
padding: 50px 0px;
}
/******product detail page********/
.single_product_sec .all_camproduct_img figure {
margin: 0px auto;width:75%;
}
.product_specfication ul li p {
font-size: 14px;
font-weight: 400;
}
/*****order confirmation**********/
.order_confirmation_text h3 {
font-size: 22px;
}
.order_confirmation_text button {
font-size: 14px;
padding: 5px 91px;}
.order_confirmation_bx {width:32%;}
.grey_line {
margin: 22px 0 18px;}
/******login page css****/
    .login_form h3 {
    font-size: 20px;line-height: 30px;}
    .login_form h3 span {font-size: 20px;    font-weight: 600;}
    .formn_group_main input.mat-input-element {
    padding: 14px;
    }
    .formn_group_main .mat-form-field-appearance-legacy .mat-form-field-label {
    padding: 14px;
    }
    .login_form button {
    padding: 12px;}
    p.login_disc {
    font-size: 13px;
    font-weight: 400;
    }
    .login_wrap.signup {
        height: auto ;
        padding: 3rem 0px;
    }
    /******order id detail page css*******/
.order_detail_left h3 {font-size: 18px;}
.profile_main .profile_right label {
font-size: 13px;
font-weight: 400;
}
.profile.title_bar h2 {
line-height: 26px;
font-size: 24px;
}
.profile_main .profile_right button {
font-size: 14px;
padding: 12px 39px;}
.payment_content .address_right h4 {
font-size: 21px;
}
.add_card_btn p {
font-size: 13px;font-weight: 600;} 
ul.formn_group_main.change_password_sec {
margin-top: 0px;
}  
.order_detail_wrap .orderdetail_right {
padding: 29px 30px;
}
ul.approved_ordder h4 {
font-weight: 600;
font-size: 16px;}
ul.approved_ordder li {
padding-bottom: 26px;}
.approved_order_right h3 {
font-weight: 600;
font-size: 16px;
}
.approved_order_right h3 span {
    font-size: 13px;
    font-weight: 300;
}
.approved_order_right h5 {
font-size: 14px;}
ul.get_help {height: 50px;}
ul.get_help li a {
font-size: 15px;
}
.order_detail_wrap .orderdetail_left li h3 {
font-size: 15px;
margin-top: 15px;
}
.order_detail_wrap .orderdetail_left button {
padding: 12px 220px;}

/****login page*****/
.login_main .formn_group_main {
margin: 20px 0 16px;
}
/*****all campains page css*************/
.product_sold_status h4 {
font-size: 14px;
}
.product_sold_status p {
font-size: 10px;
}
.product_progress_icon svg {
width: 120px;
height: 147px;
}
.product_progressbar{height: 63px;bottom: 34px;}
.add_cartbtn button {
padding: 0px 34px;}
}
.otp_outer .otp-input {
    width: 60px !important;
    height: 60px !important;

margin-right: 20px !important;}

// about us css start from here
.about_us_inner {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}
.about_us_comman {
    width: 100%;
    float: left;
    text-align: center;
}
.about_us_comman h4{    font-size: 26px;
    font-weight: 600;
    color: #000000;
    padding: 30px 0;
    text-transform: capitalize;}
    .about_us_comman p{    font-size: 14px;
        text-align: left;
        color: #000000;
        text-transform: capitalize;}
        .about_us_comman .about_us_comman_inner h4{font-size: 15px;
            font-weight: 600;
            color: #000000;
            text-align: left;
            text-transform: capitalize;padding: 5px 0;}
            .about_us_comman_inner {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                max-width: 850px;
                margin: 0 auto;
                padding-bottom: 45px;
            }
            .mat-form-field-infix {
                margin: 0;
                padding: 0;
               
                .how_can_help h3 {
                    padding: 30px 0;
                    font-weight: 800;
                    font-size: 25px;
                }
                 border: none;
            }
            .left_about {
                padding-right: 30px;
                width: 50%;
                min-height: 102px;
            }
            .right_About {
                padding-left: 30px;
                width: 50%;
                min-height: 102px;
            }
            .upload_file {
                opacity: 0;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 1px;
            }
            .user_profile_img img{position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translateY(-50%) translateX(-50%);
                transform: translateY(-50%) translateX(-50%);
                width: 100%;
                height: 100%; }


                /***********START 09-06-2020***************/
                .ngx-dropdown-container .ngx-dropdown-button {
                    width: 100%;
                    min-height: 30px;
                    padding: 13px 10px 13px 10px !important;
                    background-color: white;
                    margin-bottom: 24px !important;
                }
                .login_form .mat-form-field-appearance-fill .mat-form-field-flex {
                    background: transparent !important;
                    }
           
@media(max-width:1400px){
.home_banner {
height: 500px;} 
.login_wrap {
padding: 3rem 0px;
height: auto;
}
.login_wrap.forget_password {
height: 100vh;
padding: 0px;
}
.win_appdwnl_bx {height:500px;}
}

// responsive tab css start from here
@media(max-width:1300px){
.conta_iner {
    width: auto;
    padding: 0 30px;
}
.sold_out img {
    width: auto;
}
.sold_out {

    padding: 10px !important;
}
.certification_comman img {
    width: 180px !important;
}
.our_product .certification_comman img{width: auto !important;}
.left_circle {
    width: 40px;
    height: 40px;}
    .right_process_text{width: 80%;}
    .win_userlist ul li {
        width: 23%;}
        .footer_address.footer_comman{
            padding-right: 35px !important;
            width: 25% !important;
        }
        .footer_comman.store_link {
            text-align: center;
            width: 30% !important;
        }
        .certification_section .certification_comman img {
            width: 200px ;
}
.cart_donate_btn button {
    padding: 8px 8px;
    width: 49%;font-size: 14px;}

}
.inner_form_input .mat-form-field-label {
    left: 19px;
}
.alert.alert-danger.ng-star-inserted {
    text-align: left;
    color: #d00;
}
.country_code_common {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 0 14px;
 margin: 0;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.country_code_common .ngx-select_countrycode.ng-star-inserted {
    width: 25%;
}
.country_code_common .ngx-dropdown-container .ngx-dropdown-button {
    width: 100%;
  
    background-color: white;
    padding: 0 !important;
    border: none !important;
    margin: 0 !important;
}
.country_code_common .form-group {
    width: 75%;
    margin: 0 !important;
    border: none;
}
.country_code_common .form-group input {
    border: none !important;
    margin: 0 !important;
    /* padding: 0; */
}
.ngx-dropdown-container .ngx-dropdown-list-container ul li {
    padding: 3px 0px !important;
    text-align: left !important;}
    .form-group input:focus{box-shadow: none !important;}

    .country_code_outer {
        margin: 0 0 25px;
    }
    .country_code_outer .alert {
        margin-top: 8px !important;
    }
    button.btn.btn-primary.rightLst {
        background: #fcb83f;
        border: #fff;
    }
    button.btn.btn-primary.leftLst.over {
        border: #fff;
    }
    button.btn.btn-primary.leftLst{  background: #fcb83f;
        border: #fff;}

        .cart_add_Addresslist ul li.edit_address .mat-form-field {
   
            width: 100%;
        }
        .loader {border:16px solid #faefef;
            border-radius:50%;
            border-top:16px solid #FCB83F;width:80px;height:80px;
            -webkit-animation:spin 2s linear infinite;
            animation:spin 2s linear infinite;margin:auto;}
        li.current.ng-star-inserted {
            background: #fcb83f;
        }
        .edit_address .mat-form-field-appearance-legacy .mat-form-field-label {
            top: 4px !important;
            padding: 10px !important;
        }